<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="kateb">Kate Burke</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding()">Welcome</a>
          <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Surprised By Story</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="kateOpeningPagesContent" class="col-8">
        <br>
        <p><img src="./img/quills.jpg" alt="photo of Indian Quillwork" width="500" height="438" hspace="40" vspace="10">
          Porcupine quillwork examples. Porcupines were hunted  and the quills harvested. They are sorted and selected then dyed various colors, chewed to flatten and attached to leather with stitches that hold the quills flat. It was the stitch that held the quills flat that was kept secret and shared only with members of the sacred quillworking societies, which, until recently, was limited only to women. Traditionally women also did the hunting and harvesting. When trade beads became available, quillwork was largely abandoned.</p>
          <div class="discussionQuestions">
            <h3>Discussion Questions/Reader's Guide</h3><br><br><br><br>
              <br>
            <p>Kate Burke, the main character, wants a life that's larger than most women of her day. She even marries her first husband because he can take her West where she can photograph. Photography not her husband is her passion. Does that make her smart, calculating or neither?<br>
              <br>
            When Kate discovers the Sioux Quillworkers, she wants to document them and their sacred society. Her husbands thinks there will be no market for those photographs (no one cares about Indian women). Since they're not wealthy, he says they can't afford something that frivolous. Has the attitude towards women's history changed since then?<br>
              <br>
            Originally the <a href="http://en.wikipedia.org/wiki/Wounded_Knee_Massacre" target="_blank">Massacre at Wounded Knee</a> was called &quot;the last battle of the Indian Wars.&quot; The army had to admit it was more massacre than battle when photographs of dead women, children, and old men came to the public attention. How has photography changed our view of war?<br>
              <br>
            Is <em>Kate Burke Shoots the Old West </em>a romance novel as the cover seems to indicate?</p>
          </div>
          <p>
              <a href="http://en.wikipedia.org/wiki/Henry_David_Thoreau" target="_blank">Henry David Thoreau:</a></p>
          <p>&quot;You can't say more than you can see.&quot;<br>
            <br>
            <img src="./img/pelicanscape.gif" alt="pelicans on a pond" width="288" height="109" /></p><br>

            <p><a href="http://denverlibrary.org/" target="_blank">Denver Public Library</a> has one of the best collections of old photographs of the American West<br><br>

              <a href="http://www.dmns.org/main/en/" target="_blank">Denver Museum of Nature and Science </a>has one of the best collections of Indian quillwork.<br><br>
            </p>
            <p><br>
                <a href="http://www.susansontag.com/" target="_blank">Susan Sontag</a><br>
                <em>On Photography</em>:<br>
            </p>
              <p>&quot;Every portrait of another person is a self-portrait . . .landscape photographs are really inner-landscapes.&quot;<br>
                <br>
        &quot;By taking over the task of realistic picturing hitherto monopolized by painting, photography freed painting for its greatest modernist vocation--abstraction.&quot;<br>
        <br>
        &quot;Time eventually positions most photographs, even the most amateurist, at the level of art.&quot;<br>
        <br>
        &quot;Most tourists feel compelled to put the camera between themselves and whatever is remarkable that they encounter. Unsure of other responses, they take a picture. This give shape to experience: stop, take a photograph, and move on. The method especially appeals to people handicapped by a ruthless work ethic--Germans, Japanese, and Americans.&quot;</p><br>

        <div class="discussionQuestions">

          <p>Highly recommended:</p>
          <p><a href="http://en.wikipedia.org/wiki/John_Szarkowski" target="_blank">John Szarkowski'</a>s</p>
          <p><em>Looking at Photographs</em></p>
        </div>








      </div>
      <div id="kateSidebar">
        <div class="bookGraphic">
          <a target="_blank" href="https://www.amazon.com/Kate-Burke-Shoots-Old-West/dp/0671519107/ref=sr_1_1?ie=UTF8&qid=1519843726&sr=8-1&keywords=kate+burke+shoots+the+old+west&dpID=51sktgN90GL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=srch"><img src="./img/Katecov.gif"></a>
          <p><a href="#" ng-click="$ctrl.navigateKateOpeningPages()">Opening Pages</a></p>
          <p><a href="#" ng-click="$ctrl.navigateKate()">About</a></p><br>
        </div>
        <div id="kateBlurbs">
          <p class="bookBlurb">&quot;The floral-and-feather cover of this latest fancifully titled historical by the author of <em>Miss Ellie's Purple Sage Saloon</em> belies its gritty portrayal of relations between men and women and between whites and Native Americans. . . .In Kate, Hurd has created a fine, gutsy heroine who is as tough as her time, her place and her men.&quot;<br>
              --Publishers Weekly</p>
          <p class="bookBlurb">&quot;As a fifth-generation ranch woman, Jerrie Hurd knows the women who helped settle the West . . Her straightforward, descriptive style is engaging and interesting . . .Her stories reveal real women&quot;<br>
          --Linda DuVal, Colorado Springs Gazette Telegraph</p>
          <p class="bookBlurb">&quot;A well-written, no-holds-barred novel . . . but it is the power of her storytelling that captures us. A truly interesting book with a unique heroine . . .&quot;<br>
          --Roundup magazine</p>
          <p class="bookBlurb">&quot;Jerrie Hurd has concocted a tale of adventure and romance packed with action and intrigue.&quot;<br>
            --Abilene Reporter-News</p>

        </div>



        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
