<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="coyoteKissedTitleBar">Coyote Kissed</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding();">Welcome</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateNovels()">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Just Above Bone</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="snakeoilContent" class="col-8">
        <p>In this story, a lawyer imagines peeling off his clothes without finding anything naked underneath.
          He's losing himself. The solution is to get back in touch with nature--raise chickens in the old barn.
          When a coyote raids his coop, he decides he needs a better, bader chicken.</p>



      <p>&nbsp;</p>
        <p>Fred Towser left his California  high-rise office one evening feeling dry and drained. Nothing new. His workday  had become a monotony of paperwork, out-of-court settlements, and billable  hours. He knew the law game. He played it as well as anyone, but lately he'd  begun to fantasize about going home and taking off his Brooks Brothers suit,  only to find another underneath and another and another. He imagined peeling  away layer after layer without ever finding anything naked. He was losing  himself. Or he was becoming his clothes. He wasn’t sure which.<br>
          <br>
          Worse, his  inner thoughts had turned cosmic. Sometimes he caught himself staring at  nothing, while his mind contemplated the universe unwinding, the earth  wobbling, the continents drifting, the dinosaurs coming and going. He didn't  like those ideas. They made him feel small.<br>
          <br>
          In an effort  to avoid such thoughts, he concentrated on keeping himself between the lines as  he drove the freeway. He also kept the car radio turned up loud and tuned to an  oldies station that featured less talk and more music. He literally be-bopped  his way home.<br>
          <br>
          His  destination was three acres of California  foothills crowned with a rambling ranch-style house that his wife had  decorated. His contribution was paying for it. That’s how things went, more  often than not. However, the property had come with an old ramshackle barn. It  was a square, squat structure once red, now weathered. To his wife's dismay  he'd refused to tear it down. He couldn't explain his attachment. It was as if  that barn was the last real thing in his life's landscape. She'd finally  settled for planting a row of tall evergreens along the driveway to screen it  from the house. <br>
          That evening  as Fred drove up to his garage, catching glimpses of the barn between the  shrubbery, it came to him that he needed something more closely tied to the  land and his own sweat. That’s what was missing—what he needed to fill the void  in his life. He’d never actually owned a barnyard animal, but his forefathers  had been early settlers, homesteading pioneers, who’d come West for the land  and raised all kinds of livestock. <br>
          <br>
          His wife,  Rita, was in the kitchen chopping vegetables. She was making hors d'oeuvres for  a small dinner party that they were hosting that evening. She'd already set out  the wine accessories—a basket for the bottle to repose in, a silver pouring  spout to insert in the neck, silver bottle bottom cozies, silver coasters. Rita  knew all the right things.<br>
          She gave  herself the same detailed attention. She hadn't spread an inch in seventeen  years. Tanned, hair tinted, nails manicured, she wore sandals, a long silk  hostess dress and a thin gold necklace studded with tiny diamonds. Most men  would envy him. This was the &quot;good life,&quot; and Fred knew it. It just  didn't turn him on anymore.<br>
          Rita said,  &quot;The Howards and Lejeaunes are coming at eight. I asked the Ellsworths,  but she's staying in town to catch a concert.&quot;<br>
          <br>
          He popped a  cherry tomato into his mouth and nibbled on a green pepper stick.<br>
    &quot;Joey's  entertaining in the pool house. I told him he could invite friends over as long  as he didn't disturb our guests.&quot;<br>
    <br>
          Fred chewed  on a carrot stick wondering why the kid couldn't just go to bed early and leave  his elders alone—the way Fred had been taught to do when he was the boy's age.  However, he knew better than to question anything having to do with their  sixteen-year-old son especially since Rita had already chatted on to others  things.<br>
    &quot;And  wouldn't you know it, the pool cleaners didn't show up. We're having guests  over—ours and Joey’s—and the pool hasn't been cleaned.&quot;<br>
    <br>
          Fred reached  for another tomato.<br>
          <br>
          Rita jerked  the plate away. &quot;You better change before our guests arrive.&quot;<br>
          <br>
          Fred scooped  a handful of cashews from a silver bowl and said, &quot;I'm going to raise chickens.&quot;<br>
          <br>
    &quot;Chickens?  What are you talking about? Fred, I haven't the time for this.&quot;<br>
    <br>
    &quot;I  am,&quot; he asserted. &quot;I'm going to raise chickens. I mean, why not get  some use out of that old barn?&quot;<br>
    <br>
          “Why not  tear it down, you mean.”<br>
          <br>
          He shook  his head slowly.<br>
          <br>
          She paused  long enough to engage his eye for half a second. &quot;You’re serious?”<br>
          <br>
          He nodded.<br>
          <br>
          “Serious or  not. You can’t do it.”<br>
          <br>
    &quot;Can't?&quot;  he asked, cocking an eyebrow. &quot;What's to say a man <em>can’t </em>raise a few chickens?&quot;<br>
    <br>
    &quot;The  neighbor's dog,&quot; Rita returned.<br>
    <br>
          Fred stiffened.  His neighbor was a plastic surgeon named David Solomon. Besides owning a brown  Doberman that messed on Fred’s lawn, he borrowed stuff all the time. Never mind  that he made twice the money Fred did and could buy his own. Fred set his jaw.  &quot;If Solomon's damned dog touches even one of my chickens, I'll sue  him.&quot;<br>
          <br>
          She shook her  head. &quot;If his dog got indigestion from one of your birds, he'd sue you.  That dog's got a pedigree longer than a queen's.”<br>
          <br>
          “No problem.  That’s what I do,” Fred continued. “I put on my suit, I go to town, and I sue  people. I’m really rather good at it, you know.”<br>
          <br>
          She stared at  him for a moment. “Why don’t you just take a vacation?”<br>
          A vacation  wasn’t it. He needed to farm.<br>
          <br>
          She  continued, “Or better yet, why don’t you get out of that suit and get ready for  the party?”<br>
          <br>
    &quot;Yeah,  yeah, I'm going,&quot; Fred said, and that might have been the end of it except  that on his way through the front hall, Fred was stopped by his cosmic  thoughts. <br>
    <br>
          It came to  him that wanting to raise chickens on his suburban acreage was no more absurd  than any other human activity undertaken on a small obscure planet wobbling its  way through an unwinding universe. He pulled out the phonebook, turned to the  yellow pages, and located the nearest farmer's supply store. On the advice of  the clerk, he ordered three dozen Orpington pullets and six goslings to be  delivered the next day.<br>
          <br>
          Of course  that meant he couldn’t sit down with Rita and their friends. He had work to do.  He put on old clothes and went down to the barn. He had to figure out how to  make a home for his chickens. He was whistling when he left the house—the first  time he’d whistled in years. He’d almost forgotten that he knew how.<br>
        </p>
        <p>            Fred stopped  whistling, a couple of weeks later, when his chickens started disappearing.  Everything went fine for the first week and a half. Then one morning when he  went down to the barn to feed and count his chickens, he had fewer than he’d  had the night before. And fewer still the next morning and the next morning and  the morning after that. Fred bought a gun and waited. Meanwhile, his chickens  continued to disappear by twos and threes without a trace.<br>
          <br>
        Then it  happened. He was reading late one night when he heard a disturbance in the  barnyard. Immediately he ran to the garage, grabbed the gun he'd hung above the  back door, and switched on the lights. To his surprise, instead of his  neighbor’s brown Doberman, he caught sight of a gray-coated coyote, lean, mean  and yellow-eyed, jumping through the shrubs along the driveway. Two dead  pullets dangled from its fang-filled mouth. Fred was so amazed he failed to  fire his weapon. He hadn't anticipated having to defend his chickens from a  ferocious beast. The idea warmed him.<br>
        <br>           
        He went up to  his son's room. Joey was playing a video game—one of those first-person  shooters where the player pretends he’s armed and shooting his way into an  elaborate, labyrinthine fortress. If there was a goal to these games, beyond  killing everything in sight, Fred didn’t know what it was. He closed the door  so Rita wouldn’t hear. Then he sat on the bed next to his son and said,  &quot;Want to do some real hunting?&quot;<br>
        <br>
          Joey was  blond, blue-eyed and better-looking than Fred—characteristics Fred considered  unfortunate. Joey would probably slip into the country club set and slide  through life without much effort. Fred was self-made, only three generations  removed from his pioneer roots. In fact, Fred’s father had been a  &quot;blue-collar worker,&quot; a term Fred doubted Joey understood in even the  textbook sense.<br>
          <br>
          Still concentrating  on the TV screen and the “shoot-button,” Joey managed to screw up his nose and  say, &quot;Hunting? Real hunting? I don't know. What do you mean?&quot;<br>
          <br>
          &quot;Don't  worry,&quot; Fred said. &quot;I'll teach you.&quot;<br>
          <br>
          &quot;Teach  me what?&quot;<br>
          <br>
          &quot;How to  handle a real gun. First we have to build a blind and get some scopes and . .  .”<br>
          <br>
          Joey paused  his game. “What are we talking about, exactly?”<br>
          <br>
          “Protecting  our barnyard from a marauding coyote.”<br>
          <br>
          Joey grunted.  &quot;Oh, that’s what’s getting the chickens.”<br>
          <br>
          &quot;Killing  our chickens, you mean. It’s killing our chickens,&quot; Fred emphasized.<br>
          <br>
          “Yeah, and  that’s what coyotes are supposed to do,” Joey returned. “You'd shoot it for  that? How is that fair?&quot;<br>
          <br>
          &quot;Fair-shmair.  We could have ourselves an evening. Get some excitement around here—real  excitement.&quot;<br>
          <br>
          &quot;Mom  says . . .&quot;<br>
          <br>
          &quot;Mom  says,&quot; Fred growled. &quot;What are you? A mama's boy?&quot;<br>
          <br>
          &quot;Dr.  Solomon says the same thing, that you can’t going around destroying things for  no good reason. Coyotes are part of the ecological balance.&quot;<br>
          <br>
          &quot;Dr.  Solomon!” Fred exploded. “What does he know? He only works three days a week.  But do you know what would happen if I didn't drive into town everyday? Believe  me, we'd have more problems than one coyote. The wolf would be at our door. Do  you understand? The wolf. Now, are you going to go hunting with me or  not?&quot;<br>
          <br>
          Joey shook  his head. “Sorry, Dad, it’s just not my thing.”<br>
          <br>
          And Rita  wouldn’t hear of it either. Hunting in their neighborhood!<br>
          <br>
          That meant  Fred had to resort to other means. He tried building bigger and better fences.  He drew up the plans himself and hired a contractor. The contractor suggested  alternatives that he claimed were proven against coyotes, but Fred wouldn't  listen. He was sick of negotiations and compromises. His whole life was about  negotiations and compromises. For once, he was going to get what he wanted—an  eight-foot fence, double-layered and fully electrified, top and bottom. That  night, the coyote only got one gosling, but three pullets electrocuted  themselves in their fright.<br>
          <br>
          Next day he  drove down to the county library and read that the Bureau of Land Management  had poisoned coyotes until an executive order ended that form of predator  control. By then Fred was beyond rules and regulations. He was engaged in a  war. It took several phone booth phone calls and a clandestine meeting,  complete with hat and trench coat, but Fred finally found a black market source  for the poison. Next night he laced a butcher shop rabbit and laid it out. He  repeated the procedure three nights in a row. Each time the coyote snubbed the bait  in favor of a pair of chickens.<br>
          Next Fred  bought two automatic searchlights. He set them up to sweep his barnyard,  creating a crisscross of beams every ten seconds. That worked well enough to  keep his losses at a chicken a week. But Fred still wasn't happy. His chickens  were his chickens and when he counted them, he wanted them all there.<br>
          <br>
          About that  time Rita suggested that he get a medical check-up. She’d heard that a chemical  imbalance could affect men of his age. Fred thought the world had a chemical  imbalance. He won an important case. There were photographs and interviews. He  enjoyed fifteen minutes of fame, while everyone acted like everything he did  was important and wonderfully brilliant. He knew better. Mostly his job  consisted of rearranging things that didn’t need to be rearranged, like  people’s lives.<br>
          <br>
        Then one  evening he was nursing a drink in a downtown bar. The television above the bar,  which usually played sports or news, happened to be showing an old Roadrunner  cartoon. Fred watched with some interest as Wiley Coyote blew himself up, fell  down steep cliffs, and got caught in his own traps. Not once did that cartoon  coyote come close to the Roadrunner. That’s when it occurred to Fred that he'd  been doing it all wrong. What he needed was the right kind of chicken—a real  roadrunner, so to speak.</p>
        <p>            Several weeks  later, Rita followed him out to the barn. &quot;Thing is, they keep making  funny noises,&quot; she said. &quot;Loud, funny noises.&quot;<br>
          <br>
          Not having  considered the broad cosmic perspective, the way the universe unwinds and the  world wobbles, she thought his hobby had long gone beyond the embarrassing. In  fact, some time ago, she’d given up complaining about his chickens in favor of  complaining about his growing signs of craziness, meaning that she rarely  visited the barnyard. However, that changed when his chickens changed.<br>
  &quot;What  bothers me is the noise they make,&quot; she went on, repeating herself.  &quot;It's getting worse. Surely you’ve noticed that.&quot;<br>
  <br>
  He opened a  sack of Purina chick starter, scooped out the mash and scattered it along the  feeders for his newest broodlings. &quot;They're always the loudest when  they're being fed,&quot; he told her.<br>
  <br>
  &quot;That's  not it. The pitch is changing. It's like a whooping click or a . . .&quot; she  stopped, seemingly lacking the vocabulary to describe what she was trying to  describe.<br>
  <br>
          Fred enjoyed  seeing her speechless. <br>
          <br>
          He said,  &quot;When they're bigger, I'll let them loose. Spread over the whole acreage,  you won't notice it.&quot;<br>
          <br>
  &quot;Won’t  notice it?” she repeated. “But I thought that was the point. I thought you said  this kind of chicken was better than a watchdog.&quot;<br>
  <br>
  Fred sighed.  She knew what he meant, but like the guys at the office who had to have  everything in writing, she had to have him say it. &quot;Of course, when  there's something to squawk about, <em>then</em> you'll hear them.&quot;<br>
  <br>
  &quot;I hope  you're right,&quot; she answered in a tone he recognized as meaning she neither  hoped nor expected that he would be right. <br>
  <br>
          “When’s  dinner?” Fred asked. “I’ve got a meeting later.”<br>
          <br>
  &quot;We'll  eat as soon as Joey gets home.&quot;<br>
  <br>
          Fred groaned.  Joey was always late, a feat beyond Fred's comprehension, considering that the  kid drove too fast, but discussing Joey was more than Fred wanted to do in the  short time before his meeting. With a shrug, he resigned himself to waiting for  his supper.<br>
          <br>
          Finished, he  set the feed sack inside the barn and turned to see Dr. David Solomon and his  brown Doberman ambling across the yard. The doctor was tall, tanned,  athletic-looking, and only came calling when he wanted to borrow something.  Fred braced himself.<br>
          <br>
  &quot;How are  things?&quot; the doctor asked peeking through Fred's double wire fence.  &quot;I swear this cage could hold a gorilla. Got anything in there besides  those itsy-bitsy chickies?&quot;<br>
  <br>
  Fred said,  &quot;They're keets.&quot;<br>
  <br>
  &quot;What's  a keet?&quot;<br>
  <br>
  &quot;A baby  Guinea hen.&quot;<br>
  <br>
  &quot;Good  god!&quot; the doctor exclaimed looking closer at the fluff balls that were  just beginning to sprout dark speckled feathers. &quot;Those are Guinea  chicks?&quot;<br>
  <br>
  &quot;Keets,&quot;  Fred insisted. According to the books he’d read, that’s what they were properly  called. &quot;You've heard of them?&quot;<br>
  <br>
  The doctor  nodded. &quot;When I was a kid, growing up down south, I knew an old widow  woman who kept a couple as watchdogs.&quot;<br>
  <br>
  Fred turned  to Rita. &quot;Told you they'd be good watchdogs. Didn't I?&quot;<br>
  <br>
  The doctor  shook his head. &quot;But you must have fifty.&quot;<br>
  <br>
  &quot;Four  dozen.&quot;<br>
  <br>
  &quot;Why  would anyone want four dozen Guinea hens?&quot;<br>
  <br>
  Fred said,  &quot;And why not? The more the merrier, they say.&quot;<br>
  <br>
          The doctor  shook his head slowly, while he stared at the keets for a long while—long  enough it made Fred fume. After all, what could he know? Fred was the one who'd  read up on every domesticated fowl currently available in America. He was  the one who knew that a fully-grown Guinea hen was just smaller than a wild  turkey and that not only could it screech whenever a coyote came around, it  could fly. In fact, Guinea hens preferred to roost in trees. Since Fred's  acreage had a fair number of trees, he was sure he had hit upon the perfect  bird. So what was his neighbor—this high-priced quack smirking about?<br>
          <br>
  &quot;What's  so funny?&quot; Fred asked.<br>
  <br>
  The doctor's  barely contained mirth had forced him to pull out a handkerchief and dab at his  eyes. When he could more fully control himself, he said, &quot;Those birds will  not only make the most God-awful noise you've ever heard, they're going to drop  mid-air bombs the size of cowpies.&quot;<br>
  <br>
  Rita paled.  &quot;Fred! What are we going to do? I've got a lawn party planned.&quot;<br>
  <br>
  &quot;It'll  be dark,&quot; Fred told her. &quot;Chickens roost after dark.&quot;<br>
  <br>
  &quot;That  won't solve the problem and you know it, if . . .&quot;<br>
  <br>
          She was cut  short by the sound of crunching, slipping gravel. Joey had turned his car off  the highway going twenty miles per hour too fast. Fred figured this was it. The  kid had been lucky so far, but Fred had known for a while now that it was only  a matter of time before Joey put the car through the garage door before the  automatic opener could get it out of his way.<br>
          <br>
          However what  happened next was not exactly what Fred had anticipated. Instead of hitting the  garage door, Joey skidded the car between Rita's shrubs and into the chicken  enclosure. The result was a gaping hole in both layers of fencing.<br>
          <br>
  &quot;Look  what you've done,&quot; Fred screamed as the stunned teenager emerged from his  car shaken, pale, and looking just like his mother.<br>
  <br>
  Rita  shrieked, &quot;My baby, my baby, are you hurt?&quot;<br>
  <br>
  &quot;I don't  know what happened, &quot; he kid answered. &quot;It never did that  before.&quot;<br>
  <br>
  &quot;It's  all your fault,&quot; Rita accused Fred as she gathered the boy under her arm  and hurried him off to the house. &quot;Joey could have been seriously hurt on  that stupid chicken cage. This is too much. Beyond crazy. When are you going to  give up and get real? You’re a family man.&quot;</p>
        <p>            After they  were gone, the doctor clapped Fred on the back. &quot;If you're smart, you'll  let that coyote clean out those nasty keets and charge it to your insurance,  along with the rest of the damage.&quot;<br>
          <br>
  &quot;If you  give that kind of advice at your office,&quot; Fred retorted, &quot;I can  understand why they've doubled your malpractice premiums.&quot; <br>
  <br>
  The doctor  shrugged. &quot;Only trying to help. Can I borrow your rototiller?&quot;<br>
  <br>
  &quot;You  know where it is.&quot;<br>
  <br>
  The doctor  nodded. &quot;Sure thing. Thanks.&quot; Then whistling for his dog, he strode  up the driveway and around to the garden storage shed.<br>
  <br>
          Fred backed  Joey's car away from the fence and surveyed the damage. Both layers of wire had  been pulled off one post and punched in. If he skipped dinner, he'd have time  to re-stretch the wire and fasten it down before his meeting, he decided. With  that in mind, he went up the driveway and opened the garage to get his hammer. <br>
          <br>
          Daylight  settled into that fifty-fifty state in which there are no shadows and yet not  enough darkness to bring out the bright eyes of wild things. That, of course,  favored the coyote. By the time Fred saw it, it was already inside the chicken  yard.<br>
          <br>
          Keeping his  eyes on the beast, Fred reached above the back door and felt for his gun. On  his first try, the gun only cleared the muzzle end of the two brackets that  held it in place. On tiptoe, Fred bumped the stock to free it, as well. Still  it wouldn't come and still he refused to take his eyes off the fearsome foe  stalking his keets. He bumped the gun harder, struggling against time and some  unseen hang-up. He hit it a final frustrated blow and the gun freed tipping  down and discharging.<br>
          <br>
          Fred looked  from the coyote in his barnyard to the small, round hole in his shoe.<br>
          That ought to  hurt, he thought, but it didn't. There wasn't even much blood. But there was a  clarity, as if the cloud of confusion that had befuddled him of late, had  suddenly lifted. He smelled the gunpowder and tasted the dust. He even had  time, and consciousness enough, to spot a tiny spider hanging suspended by a  gossamer thread from the edge of the open garage door.<br>
          <br>
          With that  steady detachment, Fred raised the gun to his shoulder. He aimed at the animal  circling the chicken cage. He had it in his sights, but, just as he squeezed  the trigger, the back door flew open, smacking him from behind. His shot went  wild, lodging somewhere on the broad side of the barn.<br>
          <br>
  &quot;Wha-what  happened?&quot; Joey asked. Then seeing a trickle of blood roll out of Fred's  shoe, his eyes widened and he screamed, &quot;I'll go for a doctor!&quot;<br>
  <br>
          With that  stated intention, he jumped into Fred's car, fired the ignition, shoved the  transmission into reverse and screeched backward up the driveway and onto the  highway.<br>
          <br>
  &quot;There's  a doctor in the backyard,&quot; Fred started to say, but by that time, the  coyote had escaped, his keets were loose, his wife had come out yelling that  she'd always known those chickens would be their ruin, and Fred's own shock  wore off.<br>
  <br>
  The universe  unwinds. The earth wobbles. The continents drift. The dinosaurs come and go.  And pain, conceived by a blow so severe it's benumbed at first, always returns.  Grasping his newfound clarity amid a blaze of hurt, Fred’s understanding  suddenly cleared. He saw what the Indian shamen, formerly inhabiting these same  California  foothills, had known all along—namely that the world is coyote kissed.  Trickster created. His own antics, measured against that knowledge and the  broader cosmic background, suddenly fell into place. Without giving it a second  thought, Fred jumped up and down, danced all around, and screamed, &quot;This  isn't funny.&quot;</p>
      <p>&nbsp;</p>
      <p><a title="Coyote profile" href="/wiki/Image:Coyote_portrait.jpg"><img height="171" alt="Coyote profile" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Coyote_portrait.jpg/300px-Coyote_portrait.jpg" width="300" border="0" /></a></p>
      <p>Did you know <a href="http://en.wikipedia.org/wiki/Coyote">coyotes</a> have extended thier range into urban areas, including Los Angeles? They are one  species that has actually increased in number.</p>
      <p>&nbsp;</p>
      <p><a title="Tobeepornottobeep.jpg" href="/wiki/Image:Tobeepornottobeep.jpg"><img height="188" alt="roadrunner cartoon icon" src="http://upload.wikimedia.org/wikipedia/en/thumb/8/88/Tobeepornottobeep.jpg/250px-Tobeepornottobeep.jpg" width="250" border="0" /></a></p>
      <p>Did you know that Wile E Coyote's middle name is Ethelbert? Chuck Jone's <a href="http://en.wikipedia.org/wiki/Wile_E._Coyote_and_Road_Runner">Roadrunner cartoon</a> first appeared in 1948</p>
      <p>&nbsp;</p>
      <p><a title="Helmeted Guineafowl from Namibia." href="/wiki/Image:Numida_meleagris.jpg"><img height="225" alt="Helmeted Guineafowl from Namibia." src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Numida_meleagris.jpg/300px-Numida_meleagris.jpg" width="300" border="0" /></a><br>
          <a href="http://en.wikipedia.org/wiki/Guineafowl"> Guinea Hens </a>can be purchased on-line. They recommended for keeping gardens free of insect pests.</p>


        <p><a href="#" ng-click="$ctrl.topOfSnakeDiv()">back to top</a></p>

              <p>&nbsp;</p>


      </div>
      <div id="sidebar">

        <h3>Author Info</h3>
        <h3>Contact Info</h3>
        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
