<div class="container-fluid">
  <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

    <p ng-click="$ctrl.navigateToSurprise()">About the Memoir</p>
    <p ng-click="$ctrl.navigageIntroduction()">Introduction</p>
    <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
  </div>

  <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

    <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
    <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
    <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
  </div>

  <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

    <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
    <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
    <p><span class="sr-only">Photo Website</span></p>
    <p>Short Stories</p>
  </div>

  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Surprised by Story</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em>



          </a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
          <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

          <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="PhotoSiteContent" class="col-8">
        <div id="photoSiteBanner">
          <img src="./img/theone.jpg">
        </div>
        <div id="photoSiteText">

          <p>Besides writing, Jerrie Hurd is also a fine art photographer specializing in nudes. Her photo website explains “why nudes” and explores the centuries-long art tradition centered on the human figure.  It also includes galleries of her work.</p>

          <p><a href="www.homosapiensunadorned.com" target="_blank">www.homosapiensunadorned.com</a></p>
          <p>Here are a couple of her award-winning photos.</p>
        </div>
        <div id="awardWinningPhotos">

          <img src="./img/suspendedswim_jerriehurd.jpg" id="photo1">
          <img src="./img/maskitudesm.jpg" id="photo2">
        </div>








      </div>

    </div>


</div>
