<div class="container-fluid">






  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Surprised by Story</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
                <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

                <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
                <!-- <a class="nav-item nav-link" href="#">Books</a> -->
            </tr>
          </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p ng-click="$ctrl.navigateToSurprise()">About the Memoir</p>
            <p ng-click="$ctrl.navigageIntroduction()">Introduction</p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p><span class="sr-only">Short Bio</span></p>
            <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div id="shortBioContent" class="col-8">
        <img id="authorPicShort" src="./img/jerrie1color.jpg">

        <!-- <a id="aboveBoneNav" href="#" ng-click="$ctrl.navigateToSurprise()"><h3><em></em></h3></a> -->

        <!-- <img src="./img/treesm.jpg"> -->
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->

        <div id="bioShortBlurb">

          <p class="shortBioBlurb">&nbsp;&nbsp;&nbsp;Jerrie Hurd, who recently completed the memoir <em>Surprised by Story</em>, has published novels, short stories and essays. She has taught writing at weekend conferences, and community colleges. When she’s not writing, she is a fine art photographer whose work has shown in galleries from coast to coast.<br><br><br><br>

          In her memoir, she refers to a family ranch above Bone, Idaho. She has also lived in Oregon, New Jersey and New Mexico. More recently, she and her husband remodeled a small hundred-year-old Victorian house near downtown Boulder, Colorado, which they share with their dog.</p><br><br>

        </div>




      </div>

    </div>


</div>
