<div class="container-fluid">
  <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

    <p ng-click="$ctrl.navigateToSurprise()">About the Memoir</p>
    <p ng-click="$ctrl.navigageIntroduction()">Introduction</p>
    <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
  </div>

  <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

    <p><span class="sr-only">Short Bio</span></p>
    <p>Long Bio</p>
    <p>Published Books</p>
  </div>

  <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

    <p>Fun Info</p>
    <p>Future Projects</p>
    <p>Photo Website</p>
    <p>Short Stories</p>
  </div>

  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Surprised by Story</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em>



          </a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
          <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

          <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="memoirContent" class="col-8">
        <img id="authorPicShort" src="./img/jerrie1color-1.jpg">

        <!-- <a id="aboveBoneNav" href="#" ng-click="$ctrl.navigateToSurprise()"><h3><em></em></h3></a> -->

        <!-- <img src="./img/treesm.jpg"> -->
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div id="bioShortBlurb">

          <p class="shortBioBlurb">&nbsp;&nbsp;&nbsp;Jerrie Hurd, who recently completed the memoir <em>Surprised by Story</em>, has published novels, short stories and essays. She has taught writing at weekend conferences, and community colleges. When she’s not writing, she is a fine art photographer whose work has shown in galleries from coast to coast.<br><br><br><br>

          In her memoir, she refers to a family ranch above Bone, Idaho. She has also lived in Oregon, New Jersey and New Mexico. More recently, she and her husband remodeled a small hundred-year-old Victorian house near downtown Boulder, Colorado, which they share with their dog.</p><br><br>

        </div>




      </div>

    </div>


</div>
