<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="kateb">Kate Burke</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding()">Welcome</a>
          <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Surprised By Story</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="kateContent" class="col-8">
        <br>
        <h3>This one started with the oldest of story questions:<br><br>what if . . .?</h3><br>
        <div id="kateContentParagraphs">
          <p>Photographs were extremely popular in the 1890s. Almost  every eastern home had &ldquo;parlor picture books&rdquo; that often featured photographs  of Native Americans, even pictures of men in kivas and  on mountain tops performing scared ceremonies. However, there were no pictures  of women&rsquo;s ceremonies. Likely because men would not have been allowed to view,  much less picture, such ceremonies, and women photographers were expected to  take &ldquo;parlor pretties.&rdquo;&nbsp; </p>
          <p><b>What if </b>. . . a woman photographer felt compelled to  document the women of Sioux Sacred Quillworkers  before they, their art and their sacred ceremonies disappeared? </p>
          <p><b>What if .</b> . .that same woman was at <a href="http://en.wikipedia.org/wiki/Wounded_Knee_Massacre" target="_blank">Wounded   Knee</a> and had evidence that the US Army's &ldquo;battle to end all Indian Wars&rdquo; was  really a massacre?</p>
          <p>Because her camera saw too much, that woman would  be in danger. She would likely put others in danger--her husband, his business  associates, her family, anyone who tried to help her, etc.</p>
          <p>There are many ways to &ldquo;see too much.&rdquo; No doubt that  woman, and her photographic art, would be changed forever by the Sioux Quillworkers and  their art. </p>


        </div>
        <img src="./img/treescape.gif">
        <h1>Interesting Tidbits:</h1>
        <ul>

          <li><p><a href="http://www.lakhota.com/bbs/viewtopic.php?p=21132&amp;sid=469cba6c26013fc953281bbfbb613fd2" target="_blank">Porcupine quillwork</a>, such as the  example pictured on the outside edge of the book cover, was once considered a  sacred dream art practiced only by Indian woman who had been invited to learn  the secrets of this art. When trade beads became available, beadwork replaced  the older quillwork. Today, it has been revived and both men and women artists  do quillwork.</p></li>
          <li><p>Those iconic black-and-white  photographs of the American West were nearly always done be a team, often a  husband and wife working together. He would take the photographs and she would  do the printing. Guess who got credit? Guess who is now being recognized as  probably contributing the larger part to the artistic quality of the images?  Taking photographs involved lugging around huge cameras and handling glass  plates and/or early film. However, the printmaking was done under extremely  adverse conditions, often in the back of a wagon, using non-standardized  chemicals, amid dust, and changing weather. Sometimes the wife would also take  photographs, but often these were sold under her husband&rsquo;s name.</p></li>
          <li><p>Aesthetics of <a href="http://en.wikipedia.org/wiki/History_of_photography" target="_blank">photography in the  1890s </a>was being widely debated. No one was sure whether it was an art or a  science. Many felt that the camera as an &ldquo;eye&rdquo; ought to look at the world  exactly as the human eye views it. Odd angles and hand-held snapshots were  considered poor form.</p></li>
          <li><p>The trial of <a href="http://www.americanheritage.com/articles/magazine/ah/1974/1/1974_1_15.shtml" target="_blank">Plenty Horses </a>is a  real event. He was the Indian who killed an Army officer in front of witnesses.  No one thought he could be successfully defended. He was acquitted, partly  because his lawyer established that he was a prisoner of war. The  case is still studied and cited most recently in the current debate over the rights of &quot;enemy combatants.&quot; </p></li>
        </ul><br><br>


      </div>
      <div id="kateSidebar">
        <div class="bookGraphic">
          <a target="_blank" href="https://www.amazon.com/Kate-Burke-Shoots-Old-West/dp/0671519107/ref=sr_1_1?ie=UTF8&qid=1519843726&sr=8-1&keywords=kate+burke+shoots+the+old+west&dpID=51sktgN90GL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=srch"><img src="./img/Katecov.gif"></a>
          <p><a href="#" ng-click="$ctrl.navigateKateOpeningPages()">Opening Pages</a></p>
          <p><a href="#" ng-click="$ctrl.navigateKateEssay()">More Info</a></p><br>
        </div>
        <div id="kateBlurbs">
          <p class="bookBlurb">&quot;The floral-and-feather cover of this latest fancifully titled historical by the author of <em>Miss Ellie's Purple Sage Saloon</em> belies its gritty portrayal of relations between men and women and between whites and Native Americans. . . .In Kate, Hurd has created a fine, gutsy heroine who is as tough as her time, her place and her men.&quot;<br>
              --Publishers Weekly</p>
          <p class="bookBlurb">&quot;As a fifth-generation ranch woman, Jerrie Hurd knows the women who helped settle the West . . Her straightforward, descriptive style is engaging and interesting . . .Her stories reveal real women&quot;<br>
          --Linda DuVal, Colorado Springs Gazette Telegraph</p>
          <p class="bookBlurb">&quot;A well-written, no-holds-barred novel . . . but it is the power of her storytelling that captures us. A truly interesting book with a unique heroine . . .&quot;<br>
          --Roundup magazine</p>
          <p class="bookBlurb">&quot;Jerrie Hurd has concocted a tale of adventure and romance packed with action and intrigue.&quot;<br>
            --Abilene Reporter-News</p>

        </div>



        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
