<div class="container-fluid">



  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Surprised by Story</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
                <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

                <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
                <!-- <a class="nav-item nav-link" href="#">Books</a> -->
            </tr>
          </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p ng-click="$ctrl.surpisedbystory()">About the Memoir</p>
            <p ng-click="$ctrl.navigateIntroduction()">Introduction</p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
            <p><span class="sr-only">Long Bio</span></p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div id="longbioContent" class="col-8">
        <img id="authorPicLong" src="./img/jerrie2b&wme.jpg">

        <!-- <a id="aboveBoneNav" href="#" ng-click="$ctrl.navigateToSurprise()"><h3><em></em></h3></a> -->

        <!-- <img src="./img/treesm.jpg"> -->
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->

        <div id="bioLongBlurb">

          <p class="longBioBlurb">&nbsp;&nbsp;&nbsp;In addition to the memoir <em>Surprised by Story</em>, Jerrie Hurd has published three novels with Pocket Books, several nonfiction books with a regional publisher as well as short stories and essays. She began her writing career working for her hometown newspaper while still in high school.<br><br>

          &nbsp;&nbsp;&nbsp;She has taught writing at community colleges in Washington State and New Jersey and lead seminars at writing conferences.<br><br>

          &nbsp;&nbsp;&nbsp;She is also a fine art photographer whose work has shown in galleries across the U.S. <br><br>

          &nbsp;&nbsp;&nbsp;Hurd graduated with honors from University of Colorado and got an MFA in creative writing from the University of Oregon. <br><br>

          &nbsp;&nbsp;&nbsp;She has served on the board of Women of the West Museum and the Autry Museum. She is co-founder and past-president of Women Writing the West and a former board member of Western Writers of America. She also served on the board of Women Work Together an organization working to improve girl’s education in Guatemala.<br><br>

          &nbsp;&nbsp;&nbsp;She and her husband live in Boulder, Colorado.</p><br><br>

        </div>




      </div>

    </div>


</div>
