<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="ellies">Miss Ellie</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding()">Welcome</a>
          <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Just Above Bone</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="ellieContent" class="col-8">
        <h3>This book started with a little-known fact:</h3>
        <div id="ellieContentParagraphs">
          <p>The <a target="_blank" href="http://en.wikipedia.org/wiki/Woman's_Christian_Temperance_Union">Women&rsquo;s Christian Temperance Union</a> is still the largest  women&rsquo;s movement the world has ever known.</p>
          <p>In other words, the  19th Century women, who  wanted to put an end to drinking alcohol, managed to organize more women than  any woman&rsquo;s organization before or since.</p>
          <p>Yet they were wrong-headed. </p>
          <p>They understood the problem. They were deeply concerned  about abused women and other issues that we would recognize today. However,  their idea was to reform men rather than change laws to protect women. If they  could close the saloons and put an end to &ldquo;demon rum,&rdquo; they thought that men  everywhere would become gentlemen. </p>
          <p>Ironically, at the same time, many 19th Century women braved the  American frontier because they wanted to own land and open their own  businesses; opportunities (rights) denied them in the more settled east. </p>
          <p>What if a woman saloon-owner were to be confronted with a  woman temperance leader determined to close her down? What if the two women loved  the same man? <em>Miss Ellie&rsquo;s Purple Sage Saloon</em> grew out of those two questions.</p>


        </div>
        <img src="./img/lanscape1.gif">
        <h1>Interesting Tidbits:</h1>
        <ul>

          <li><p>The <a target="_blank" href="http://www.wctu.org">Women&rsquo;s Christian Temperance Union</a> still exists. It is the oldest continuing non-sectarian women&rsquo;s organization in the world. To join you sign a pledge not drink alcohol and pay annual dues.</p></li>
          <li><p>The <a target="_blank" href="http://www.usiap.org/Archives/NewsArticles/NA2000_07_09B.html">WCTU</a> managed to dry up the United States for 13 years. From 1920 to 1933, it was illegal to sell, manufacture, or transport alcohol. This is known as the <a target="_blank" href="http://en.wikipedia.org/wiki/Prohibition_in_the_United_States">Prohibition Era</a>. This was accomplished by the passage of the 18th Amendment to the Constitution.</p></li>
          <li><p>Various organizations have been trying to pass the <a target="_blank" href="http://en.wikipedia.org/wiki/Equal_Rights_Amendment">Equal Rights Amendment</a> since 1923 without success.</p></li>
          <li><p>Woman on woman conflict is unusual enough that novels, like this one, often get singled out for that particular focus. It's more common for the conflict to be between a man and a woman, even in women's fiction.</p></li>
        </ul><br><br>


      </div>
      <div id="ellieSidebar">
        <div class="bookGraphic">
          <a target="_blank" href="https://www.amazon.com/Miss-Ellies-Purple-Sage-Saloon/dp/0671519093/ref=sr_1_1?ie=UTF8&qid=1519055560&sr=8-1&keywords=miss+ellie%27s+purple+sage+saloon"><img src="./img/elliecov.gif"></a>
          <p><a href="#" ng-click="$ctrl.navigateEllieOpeningPages()">Opening Pages</a></p>
          <p><a href="#" ng-click="$ctrl.navigateEllieEssay()">More Info</a></p><br>
        </div>
        <div id="ellieBlurbs">
          <p class="bookBlurb">"Jerrie Hurd writes with a style that is unique and captivating. <em>Miss Ellie's Purple Sage Saloon</em> is entertaining from beginning to end."
          <br>-- Kristina Wright, Literary Times</p>
          <p class="bookBlurb">"Hurd, just as quirky, powerful, and zealous as her heroines, portrays the causes of the past and present in . . . fine, spunky style."<br>--Publishers Weekly</p>
          <p class="bookBlurb">"I just read <em>Miss Ellie's Purple Sage Saloon</em> and love it! It's well-written, well-plotted, and appealing!"<br>--Susan Armitage, editor, The Women's West</p>
          <p class="bookBlurb">"Couldn't put the book down."<br>--Cindy Bonner, author, Lily</p>
        </div>



        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
