<div class="container-fluid">
  <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

    <p ng-click="$ctrl.navigateToSurprise()">About the Memoir</p>
    <p ng-click="$ctrl.navigageIntroduction()">Introduction</p>
    <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
  </div>

  <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

    <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
    <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
    <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
  </div>

  <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

    <p><span class="sr-only">Fun Info</span></p>
    <p>Future Projects</p>
    <p>Photo Website</p>
    <p>Short Stories</p>
  </div>

  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Surprised by Story</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em>



          </a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
          <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

          <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="funstuffContent" class="col-8">
        <div id="authorDesk">
          <img src="./img/desk.gif">
          <div id="favoriteRetreatsDiv">

            <h3>Every writer needs a little quiet. Here are my favorite retreat places:</h3>
            <main ng-repeat="retreat in $ctrl.retreats | orderBy : $ctrl.sortBy">

              <div><a href="{{retreat.link}}" target="_blank">

                <p>{{retreat.name}}</p><br><br><br><br><br>
                <p>{{retreat.location}}</p>
                <img src="{{retreat.image}}">
              </a></div>
            </main>
          </div>
        </div>

        <div id="favoriteBooksDiv">
          <h3>My All-Time Favorite Novels</h3>
          <p>(no particular order)</p>


          <main ng-repeat="book in $ctrl.books| orderBy : $ctrl.sortBy">
            <div><a href="{{book.link}}" target="_blank">
              <img src="{{book.cover}}">
              <p class="favBookTitle"><em>{{book.title}}</em></p><br><br><br><br>
              <p class="favBookAuthor">by {{book.author}}</p>
            </a></div><br><br><br><br>

          </main>
        </div>






      </div>

    </div>


</div>
