<div class="container-fluid">
  <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

    <p ng-click="$ctrl.surpisedbystory()">About the Memoir</p>
    <p>Introduction</p>
    <p>First Chapter</p>
  </div>

  <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

    <p>Short Bio</p>
    <p>Long Bio</p>
    <p>Published Books</p>
  </div>

  <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

    <p>Fun Info</p>
    <p>Future Projects</p>
    <p>Photo Website</p>
    <p>Short Stories</p>
  </div>

  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="welcome">Contact</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" ng-click="$ctrl.navigateWelcome()" style="cursor:pointer">Welcome</a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em>



          </a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
          <a class="nav-item nav-link active" href="#"><span class="sr-only">Contact</span></a>
          <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
          <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

          <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="contactImg" class="col-8">
        <p id="tellMeAboutTheHouse">My husband and I restored this 120-year-old Victorian in downtown Boulder, Colorado. We live there with our dog. Best way to contact me is by email.</p>
        <h1 id="contactMail"><a href="mailto:jerrie@jerriehurd.com">jerrie@jerriehurd.com</a></h1>

        <!-- <img id="landingPic" src="./img/website.jpg"> -->
        <!-- <div id="theSubTeaser">
            <p class="subteaser"><em>We expect our lives to turn out like the stories we've heard.</em></p>
          </div>
        <br>
        <div id="theTeaserDiv">
          <h5 class="teaser">That's the theme of my current book--<em>Surprised by Story, a memoir.</em></h5>
        </div> -->

        <br>




      </div>
      <!-- <div id="sidebar">

        <h3>Author Info</h3>
        <h3>Contact Info</h3>
        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div> -->
    </div>


</div>
