<div class="container-fluid">






  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="welcome">Contact</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelcome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current Book: <em>Surprised by Story</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link active" href="#"><span class="sr-only">Contact</span></a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
                <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

                <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
                <!-- <a class="nav-item nav-link" href="#">Books</a> -->
              </tr>
            </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p ng-click="$ctrl.surpisedbystory()">About the Memoir</p>
            <p ng-click="$ctrl.navigateIntroduction()">Introduction</p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
            <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div class="col-8">
        <div id="housePic">
          <img src="./img/house.jpg">
        </div>
        <div id="tellMeAboutTheHouse">
          <p>My husband and I restored this 120-year-old Victorian in downtown Boulder, Colorado. We live there with our dog. </p>

          <form id="contactForm">
            <h2>Contact:</h2>
            <input type="text" id="contactorEmail" placeholder="your email address" autofocus>
            <textarea id="cantactorMessage" rows="9" col="145" placeholder="your message"></textarea>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="sendMessage">Send</button>
          </form>
        </div>
        <!-- <h1 id="contactMail"><a href="mailto:jerrie@jerriehurd.com">jerrie@jerriehurd.com</a></h1> -->

        <!-- <img id="landingPic" src="./img/website.jpg"> -->
        <!-- <div id="theSubTeaser">
            <p class="subteaser"><em>We expect our lives to turn out like the stories we've heard.</em></p>
          </div>
        <br>
        <div id="theTeaserDiv">
          <h5 class="teaser">That's the theme of my current book<em>Surprised by Story, a memoir.</em></h5>
        </div> -->

        <br>




      </div>
      <!-- <div id="sidebar">

        <h3>Author Info</h3>
        <h3>Contact Info</h3>
        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div> -->
    </div>


</div>
