<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="madeForTelevisionTitleBar">Made for Television</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding();">Welcome</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateNovels()">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Surprised by Story</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="snakeoilContent" class="col-8">
        <p><em>In this story, Rueban knows how to save the settlement, but the script writers haven't supplied him with enough motivation.  He's supposed to be the hero, but he feels like a loser.</em><br>
          <br>
        </p>

      <p>Way out west where the purple sage meets  the blue sky, Ruben lay awake one night feeling  worried and hungry.&nbsp; The hunger he could  understand.&nbsp; According to the script,  everyone in the settlement was on half rations.&nbsp;  It was the worry that gnawed at him.<br>
          <br>
          He rolled up onto one elbow.&nbsp; Surely it was not the larger fears of Indians  or cattle barons or corrupt lawmen that were keeping him awake.&nbsp; Brave men and bold guns had long since established  themselves against such foes.&nbsp; Brave men  and bold guns weren't worth a nickel at the box office anymore.&nbsp;<br>
          <br>
          That&rsquo;s why westerns were made for  television these days.&nbsp;<br>
          <br>
          He drew a deep breath and considered the  lesser fears of livestock deaths and crop failures.&nbsp; He understood that.&nbsp; He'd lived with those anxieties since boyhood  when he helped his father plow the same stony ground year after year.&nbsp; That is, until he got old enough to run  away.&nbsp; That&rsquo;s when he made his way to Hollywood and higher  hopes.<br>
          <br>
          What bothered him was that he knew how to  save the settlement.&nbsp; He&nbsp; knew how to supply enough food to get  them through the winter.&nbsp; But the damned  script writers hadn't supplied him with enough motivation to make his knowing  plausible.&nbsp; He was having trouble getting  into his character.&nbsp; If it weren't for  his recent bad luck, he'd have never considered taking the part.<br>
          <br>
          The camera, crouching on the end of a boom,  glided in for the tight shot.&nbsp; He got up,  pulled his pants on and reached for his boots.&nbsp;  He rolled his rations into his bedroll.&nbsp;  He strapped on his six&#8209;shooter.&nbsp;  He grabbed his rifle.<br>
          <br>
          Outside, a cardboard coyote sat on the  horizon, while the aroma of coffee from the all&#8209;night commissary, behind  the set, rolled out over the land on a cool, moist breeze.&nbsp; It took a lot of effort to be a good actor in  a world of mixed signals.&nbsp; Undaunted,  Ruben paused.&nbsp;&nbsp; He listened to the night  sounds that weren&rsquo;t there.&nbsp; He  concentrated until he imagined mice rustling in the tall grass.&nbsp; Then shouldering his saddle, and, keeping to  the shadows, he worked his way up to the corral.<br>
          <br>
          &quot;Easy now,&quot; he said as he ran a  hand down the first horse's neck.&nbsp; He  looped a rope over the animal's head.&nbsp;  Repeating those same smooth motions, he roped all the horses and tied  them together.&nbsp; Tugging at the rope, he  urged the string of horses out of the corral and toward the creek.<br>
          At the water's edge, Ruben pulled his boots  off.&nbsp; He gave an involuntary shudder as  his warm toes cut the icy stream.&nbsp;  Someone cued the sound technician and the cardboard coyote howled.&nbsp; Ruben tightened his grip against the lead  horse's balk.&nbsp; When the animals were calm  again, he pulled on the rope.&nbsp; The horses  followed him into the water, one by one, letting the rope between them fall  slack as they eagerly sought the other bank.&nbsp; <br>
          <br>
          The director yelled, &quot;Cut.&quot;&nbsp; <br>
          <br>
          The camera stopped. <br>
          <br>
          Ruben's character had just left his  frontier settlement with eight horses, seven of which were not his.&nbsp; It was the first remarkable thing he'd  done.&nbsp; He was the most uninteresting leading  man Ruben had ever played.&nbsp; The guy never  told a funny story or sang a clever ditty.&nbsp;  The script didn't include a romantic interlude.&nbsp; And the whole plot was contrived.<br>
          <br>
          In an earlier scene, the settlers had voted  to abandon their land.&nbsp; Their crops had  failed.&nbsp; Broke, washed-up, they didn't  even have enough food to get through the coming winter.&nbsp; At that point, with everyone giving up hope,  Ruben's character came up with a plan to save the town.&nbsp; His line read:&nbsp; &quot;Let's trade our horses to the Indians  for food.&quot;&nbsp; If they could get  through one more winter, they could try again.<br>
          <br>
          No one listened to him.&nbsp; Only the camera heard.&nbsp; It singled him out and focused on his growing  frustration as his idea went unnoticed.&nbsp;  Later the camera followed him home and watched as he tossed and turned  most of the night.&nbsp; At last, having made  his decision, he got up and took the horses hoping that when he'd finished the  trade, the other settlers would thank him for taking decisive action.&nbsp; <br>
          <br>
          Somebody had to be the hero even in a &ldquo;made  for television.&rdquo;<br>
          <br>
          At dawn, Ruben stopped.&nbsp; He turned in his saddle looking back into the  morning light.&nbsp; The camera panned.&nbsp; To the east, the Rockies  edged the brightening sky.&nbsp; Below, the  valley still lay in darkness&mdash;black, except where two streams of water sparkled  in the early light.&nbsp; Neither stream went  anywhere.&nbsp; Meandering across the valley  floor, one died on a salt flat, the other plunged below the lava rock, never to  be seen again.&nbsp; Ruban  silently questioned the shot for reasons other than the obvious symbolism.&nbsp; For one thing, broad expanses of scenery  tended to be wasted on television.&nbsp;  That&rsquo;s why sit-coms were generally confined to indoor sets and everyday  problems.&nbsp; If Ruban  understood the script, this was a life and death matter, set in wide-open  spaces.&nbsp; Wrong, all around.<br>
          The stolen horses, oblivious to the larger  setting, had fanned out as far as the rope would let them.&nbsp; They&rsquo;d used the moment to grab off and few  mouthfuls of grass.&nbsp; Ruben now turned  back around, kicked his mount and tugged at the horses.&nbsp; They moved on.&nbsp; Once over the rise, the ground leveled out.&nbsp; The sage and low&#8209;lying rabbit brush  thinned.&nbsp; Ruben hurried the animals  harder.<br>
          <br>
          He pushed on until late in the  afternoon.&nbsp; Then finding a grassy spot,  near a creek, he staked the horses and let them feed.&nbsp; Taking his rifle downstream, he flushed two rabbits,  shot them, cleaned them and cooked one for his supper.&nbsp; He hung the other rabbit on a bush and spread  his bedroll near a large boulder.&nbsp; All to illustrate his character's frontier skills to the camera.<br>
          <br>
          That night the wind shifted bringing a  storm that dusted the location with a skiff of snow.&nbsp; The director ordered the crew to keep filming  anyway.&nbsp; Ruben decided to portray his  character waking up chilled, rubbing his arms and stomping his feet to warm  himself.&nbsp; He waited while the horses  nosed the snow off the grass and took some feed.&nbsp; Then as he picked up his saddle to get  started again, he suddenly tensed.&nbsp; He&rsquo;d  heard something.&nbsp; Reaching for his rifle,  he turned slowly.<br>
          <br>
          An Indian girl was crouched behind the  boulder.&nbsp; Seeing him, she moved&nbsp; around the  rock.&nbsp; She paused and then moved quickly  to a bush.&nbsp; She emerged only to slip  between two of the horses.&nbsp; She was a  child, not more than nine or ten years old.&nbsp;  Two large eyes, set wide above high cheeks, filled her brown face.&nbsp; She came around the horses, eyed him, and  then reached for the rabbit he'd shot the night before.<br>
          <br>
          &quot;Why you thieving Indian,&quot; Ruben  growled.&nbsp; <br>
          <br>
          He jumped forward.<br>
          <br>
          She was too quick.<br>
          <br>
          He ran after her, but she outdistanced  him.&nbsp; Then seeing her tracks in the snow,  he followed more leisurely.&nbsp; He rounded  the hill and worked his way up a small ravine.&nbsp;  Entering a forest of pinion and scrub cedar, he lost the trail on the  thick carpet of pine needles.&nbsp; He  continued up the slope keeping alert, looking to his right and his left and  behind himself.&nbsp; Still he almost walked  past an Indian hut before he recognized it.<br>
          <br>
          Obviously someone in the script department  had researched northern&nbsp;  Great Basin Indians.&nbsp;  Probably the producers hoped to avoid the usual criticism of Hollywood's portrayal of Native  Americans.&nbsp; In any case, the hut looked  authentic.&nbsp; It was dug into the ground  and covered with pine branches.&nbsp; Rocks  around the edges anchored the roof.&nbsp; A  short, slanted tunnel formed the entrance.<br>
          <br>
          Ruben called once.&nbsp; No one came out.&nbsp; Spotting another foliage dome, he moved  across the slope.&nbsp; Somewhere between the  two houses, three dirty children appeared and trailed along behind him.&nbsp; At the second house a young girl sat in the  entrance holding a baby to suck.&nbsp; She  stared at him with cold eyes.&nbsp; Seeing  more huts farther on, Ruben continued, a dozen children now trailing at his  heels.<br>
          Just over the next rise, he came on a  clearing dotted with small fires.&nbsp; Two  women sat at each fire stirring pine nuts.&nbsp;  As they roasted the nuts, they talked loudly. &nbsp;Other women and older children were scattered  through the nearby forest.&nbsp; They were  gathering nuts and carrying baskets back and forth to the fires.&nbsp; The men huddled at one end of the clearing  laughing and yelling as they tried their skills at stick games.&nbsp; They jumped to their feet at the sight of  Ruben and faced him.<br>
          <br>
          Ruben nodded.&nbsp; &quot;Anyone here speak  English?&quot; he asked.<br>
          <br>
          Silence. <br>
          <br>
          &quot;I have horses,&quot; he said.&nbsp; &quot;I have seven (he held up seven fingers)  horses to trade for food.&quot;<br>
          <br>
          Still, no response. <br>
          <br>
          He picked up a stick and drew a horse on  the ground.&nbsp; &quot;Seven,&quot; he  said.&nbsp; &quot;I have seven horses to trade  for food.&quot;<br>
          <br>
          He rubbed his belly and pretended to eat.<br>
          <br>
          They seemed to understand that.<br>
          <br>
          A low murmur passed among the Indians.&nbsp; One man stepped forward.&nbsp; According to the script, he would be the  chief.&nbsp; He seemed young to be cast in  that role.&nbsp; Nevertheless he stood  straight and carried himself well, which were the two prime requisites for playing  that part.&nbsp; Ruben followed him into one  of the huts.<br>
          <br>
          Inside, a low fire played on some coals in  the middle of the room and a wisp of smoke wound its way up to a hole in the  roof.&nbsp; Ruben's host moved round the fire  and squatted on a blanket.&nbsp; Ruben stooped  under the low roof, glanced around, felt for the blanket and then sat down.&nbsp; He was surprised when no one else  entered.&nbsp; He had thought all the men in  the tribe would participate in the bargaining scene.<br>
          <br>
          Instead, an old woman brought a basket of  roasted nuts, which she spread before them.&nbsp;  The chief gathered a handful, dropped them into his mouth, cracked them  with his teeth and then spit the husks into the flame.&nbsp; Ruben tried the nuts.&nbsp; The husks caught in his teeth, but the nuts  were soft and sweet.&nbsp; The two of them sat  in silence cracking, eating and spitting until the woman returned and poured a  tea.&nbsp; The tea tasted bitter.&nbsp; Ruben made a wry face for the camera.&nbsp; But the tea seemed warm and sweet by the time  it got to his throat.&nbsp; He swallowed with  a sigh.&nbsp; Next the woman brought a basket  of seeds which the Indian chief ground on his back teeth and mixed with the tea  before he swallowed.&nbsp; Ruben found that  combination tasty as were the hard chewy roots the old woman served afterward.<br>
          <br>
          Then suddenly the chief rubbed his belly,  grunted, rolled himself in his blanket and fell asleep.&nbsp; Ruben couldn&rsquo;t help himself.&nbsp; He chuckled<em>.&nbsp; </em>He thought, <em>That's</em><em> the first man I ever drank under the table  with a cup of tea.</em>&nbsp; He sat back and  sipped some more of the herb brew until he too felt a drowsiness come on.&nbsp; He fought it for a few minutes, shaking his  head and blinking his eyes, but he was too weary.<br>
          <br>
          When Ruben awoke, the fire was out and he  was alone.&nbsp; It was dark in the hut, but  it was noisy outside.&nbsp; Somehow he knew  that it was morning, and he'd slept a long time.&nbsp; He stood up.&nbsp;  His head felt light.&nbsp; He touched  his hand to his temple and wondered what was in the tea.&nbsp; He took a couple of deep breaths to clear his  head.&nbsp; Then pushing with his right hand,  he lifted the branches that swung over the hut's opening and stepped outside.<br>
          <br>
          At first, the bright sunlight blinded  him.&nbsp; That, combined  with his faintness, made his stomach tighten.&nbsp; He felt himself stagger forward.&nbsp; A stench overpowered him.&nbsp; He fell back again, squinting against the  sunlight.&nbsp; He knew that odor.&nbsp; It was the smell of fresh meat.<br>
          <br>
          Sure enough.&nbsp;  When his eyes adjusted to the light, he saw that there was raw flesh  hanging from the tree branches.&nbsp; He also  heard laughter and singing. The young girls joshed each other as they hung the  meat to dry.&nbsp; Their voices blended with  the women's musical chant as they cut the meat from the bones.<br>
          <br>
          His mind grabbed for an explanation.&nbsp; It was food.&nbsp;  They had been hunting.&nbsp; They were  preparing for the trading scene.&nbsp; His  eyes grew used to the morning.&nbsp; His  stomach quieted.&nbsp; He chided himself.&nbsp; Of course they would have to prepare.&nbsp; The producers wanted to make the film  authentic and nomadic people couldn't carry extra food around with them.<br>
          <br>
          He nodded to the women.&nbsp; He smiled to the girls.&nbsp; <em>Let the  trading begin,</em> he thought, turning to face the men.<br>
          <br>
          They stood aside now that their work was  done, but the residue of their morning's job bespattered their chests and hung,  head down, behind them from the trees.&nbsp;  Ruben thought his eyes were playing tricks on him.&nbsp; <em>Were  those horse heads dangling at the bottom of each carcass?</em>&nbsp; He rubbed his eyes, but he was not  mistaken.&nbsp; All eight ponies hung  butchered and stripped.&nbsp; Now the old  women were splitting the leg bones.&nbsp; They  sang as they dug out the marrow.<br>
          <br>
          The object that riveted his attention,  however, was not the ponys.&nbsp; The scene ended with the camera moving in on  a little girl, not more than ten, with wide innocent eyes, who after stealing a  lick of the marrow, ran off into the forest.&nbsp;  It was the same little girl who had stolen his rabbit.<br>
          <br>
          Ruben stood there a moment clutching his  rifle.&nbsp; If the Indians had raided the  settlement, he'd have known what to do.&nbsp;  He'd have barricaded himself behind an overturned wagon and fired at the  marauding redskins until he ran out of ammunition.&nbsp; Making a dash for a cabin, he'd have taken an  arrow in his leg, rolling to the ground.&nbsp;  Pulling himself back up, he'd have hobbled on, firing with his six&#8209;shooter,  first to the right and then to the left.&nbsp;  Yet&#8209;&#8209;here&#8209;&#8209;now&#8209;&#8209;alone&#8209;&#8209;with  nothing left to defend, the gun only made dead weight.<br>
          <br>
          Dry&#8209;mouthed with fear, thinking the  Indians might kill him, too, Ruben stumbled backward, caught himself, turned  and began a slow walk down through the trees, back the way he'd come.&nbsp; <em>A knife  between the shoulders</em>, he thought, <em>or  an arrow</em>.&nbsp; He hoped it would be swift  and well&#8209;aimed.&nbsp; Except for his own  sweat, however, which rolled down and stung his eyes, nothing painful happened,  or as it seemed to him, painfully nothing happened.<br>
          <br>
          He found his saddle, his bag of provisions,  his rope and his canteen right where he'd dropped them when he chased the  girl.&nbsp; The saddle was of no use.&nbsp; He threw it aside.&nbsp; He slung the other things over his shoulder.<br>
          <br>
          Then sharper than arrows, the questions  began to fly.&nbsp; <em>Why?&nbsp; What happened?&nbsp; Had the Indians misunderstood him?</em><br>
          <br>
          The questions rolled and tumbled through  his brain.&nbsp; He began to run.&nbsp; He raced along the trail he'd followed a day  ago.&nbsp; Pell&#8209;mell, as if he might  overtake time itself and undo his deed.&nbsp; But there was no escape and for a terrifying  instant, he thought his mind would explode.&nbsp;  Winded and wearied, he slumped next to a rock.<br>
          <br>
          How could he have been so stupid?&nbsp; How had he missed the obvious?&nbsp; There were no other horses in the Indian  camp.&nbsp; The Indians had served seeds,  roots, nuts and tea, but no meat.&nbsp; And children  did not steal rabbits unless they were hungry.<br>
          <br>
          <em>The  settlers were right not to have listened to him</em>, he told himself.&nbsp; Without the horses, their families were  stranded.&nbsp; It was a hundred and fifty  miles to the nearest outpost.&nbsp; A hundred and fifty miles across territory where winter travel by  foot was unthinkable.&nbsp; Yet, they  couldn't stay.&nbsp; They didn't have enough  food to last out the season.<br>
          <br>
          He got up and walked on.&nbsp; About noon, the snow began again.&nbsp; He kept walking until he was too cold and too  tired to care.&nbsp; He climbed under a lava  outcropping.&nbsp; For warmth he pulled some  of the brush caught in the corners of the cave around him.&nbsp; He leaned back.&nbsp; Either the storm would pass or he'd freeze to  death, whichever came first.<br>
          <br>
          A few minutes later, he heard a soft laugh  from the other side of the cave.<br>
          <br>
          &quot;Now what?&quot; Ruben asked.&nbsp; &quot;Where do we go from here?&quot;<br>
          <br>
          &quot;You're asking me?&quot;<br>
          <br>
          &quot;You're the director, aren't  you?&quot;<br>
          <br>
          &quot;That's what it says on the  credits.&quot;<br>
          <br>
          &quot;Yeah, well don't flatter yourself too much,&quot; Ruben said.&nbsp; &quot;I don't care who the hell you think you  are, I'm not going to play the part of a loser.&nbsp; I don't do that kind of role.&quot;<br>
          <br>
          &quot;You worried about your image as a  leading man?&quot;<br>
          <br>
          &quot;You're damned right,&quot; Ruben  said.&nbsp; &quot;I mean, things weren&rsquo;t  supposed to turn out this way.&nbsp; Where are  the writers?&nbsp; We need re-writes.&nbsp; We&rsquo;ve got to shoot that last scene again.&rdquo;<br>
          <br>
          The director shook his head.&nbsp; &quot;We&rsquo;re already over budget and behind  schedule.&nbsp; But I know you can play the  part.&nbsp; A big star like  you?&nbsp; It ought to be a piece of cake.&quot;<br>
          <br>
          &quot;It's not that I can't play the  role,&quot; Ruben said.&nbsp; &quot;I just  don't understand how things could have gotten this screwed up.&quot;<br>
          <br>
          They sat in silence for a time until the  director shifted over onto one knee and began to study the floor of the cave,  now and then gathering a smooth stone into his pocket.<br>
          <br>
          &quot;What are you doing?&quot; Ruben  asked.<br>
          <br>
          &quot;Going to and fro in the earth,&quot;  he replied rounding his vowels theatrically.<br>
          <br>
          &quot;Don't mock me,&quot; Ruben said.<br>
          <br>
          &quot;Gathering stones then,&quot; he said.<br>
          <br>
          &quot;You think I'm losing my marbles,  don't you?&quot;<br>
          <br>
          The director shrugged.&nbsp; &quot;Is that what you're afraid of&#8209;&#8209;losing  your marbles?&nbsp; He marked out a circle on  the ground in the space in front of Ruben, then dropping to both knees, he began shooting the stones across the circle,  swearing loudly whenever one of them failed to hit an opposing pebble.<br>
          &quot;Want to play?&quot; he asked.<br>
          <br>
          Ruben shook his head.&nbsp; &quot;I told you.&nbsp; I don't do that kind of part.&quot;<br>
          <br>
          &quot;Ah,&quot; sighed the director.&nbsp; &quot;Exactly.&quot;<br>
          <br>
          &quot;I beg your pardon?&quot; Ruben said.<br>
          <br>
          &quot;Well, you see,  if everyone played the same role all the time, the outcome would be  predictable.&nbsp; This way, it's more  exciting.&quot;<br>
          <br>
          &quot;No, just more scary,&quot; Ruben  said.&nbsp; &quot;Half the time, I don't know  what's expected from me.&nbsp; I mean, how can  I give a decent performance when the script keeps changing?&quot;<br>
          <br>
          &quot;Get into the role.&nbsp; Roll with it.&quot;<br>
          <br>
          &quot;Not until I've had a chance to  approve the final script.&quot;<br>
          <br>
          The director laughed.&nbsp; &quot;Hell will freeze over first.&nbsp; Besides things don't depend  on you.&nbsp; The show will go  on.&quot;<br>
          <br>
          He snapped his fingers.&nbsp; The stones in the circle began to hurl  themselves at each other.<br>
          <br>
          Ruben sat forward.&nbsp; He watched a moment and then he shouted,  &quot;Make&nbsp; them  stop!&quot;<br>
          <br>
          The director laughed.<br>
          <br>
          &quot;Look at them,&quot; Ruben said.&nbsp; &quot;They don't understand it's just a  movie.&quot;<br>
          <br>
          &quot;To them, it isn't,&quot; the director  said.&nbsp; &quot;They've suffered too  much.&quot;<br>
          <br>
          &quot;Suffered?&quot; Ruben asked.&nbsp; He glanced at three chipped stones.&nbsp; &quot;That can't matter,&quot; he  argued.&nbsp; &quot;All rocks break into sand  eventually.&quot;<br>
          <br>
          &quot;Exactly,&quot; the director  said.&nbsp; &quot;So forget it.&nbsp; Things were in motion long before you interfered.&quot;<br>
          <br>
          &quot;But I'm responsible for that  settlement,&quot; Ruben screamed.&nbsp;  &quot;I was the one who took the horses.&nbsp;  They wouldn't be in this predicament if it weren't for me.&nbsp; I have to do something.&quot;<br>
          <br>
          &quot;What?&quot;  the director sneered.&nbsp; &quot;They hang  horse thieves, you know.&nbsp; That&rsquo;s the law  of the West.&quot;<br>
          <br>
          &quot;Then I'll do that.&nbsp; I'll hang for them.&quot;<br>
          <br>
          Ruben grabbed the stones and flung them at  the director.&nbsp; In a far corner of the  cave, the pebbles fell to rest, waiting for the next storm's runoff to again  tumble and turn them.<br>
          <br>
          As the storm cleared, the sky above the  northern Great Basin opened into an endless  gray.&nbsp; Below it, along a lava ridge,  Ruben slogged through the mud and the melting snow.&nbsp; Midway through the day, his shoe came  unstitched.&nbsp; He tied a handkerchief  around the toe to keep the two parts together.&nbsp;  He walked on.<br>
          <br>
          At evening he shook out his bedroll.&nbsp; A hunk of jerky fell out.&nbsp; He ate it and then rolled himself up for the  night.<br>
          <br>
          The next day, as the sun rose  high in the sky, he stumbled over a low plant.&nbsp;  &quot;God damn it,&quot; he cursed, hopping on one foot, but even as he  called down heaven's wrath, he noticed the plant that had tripped him.&nbsp; He dropped to his knees.&nbsp; He began to claw at the dirt.&nbsp; It wouldn't yield to his fingers.&nbsp; He found a rock.&nbsp; As he dug, the root expanded into a tuber as  long and as thick as his forearm.&nbsp; Once  it was free of the ground, Ruben rubbed it clean on his pants.<br>
          <br>
          He studied the root.&nbsp; He sniffed it.&nbsp; Then giving a little shrug, he bit it.<br>
          <br>
          His mouth spewed an involuntary  explosion.&nbsp; Leaning over onto his hands  and knees, he spit again and again, even after his mouth was dry.&nbsp; The taste was that bad.&nbsp; Finally sitting back on the ground, he  shouted, &quot;What's the matter here?&nbsp; I  know this is the same root the old lady served back at the Indian hut.&nbsp; Why is this one so bitter?&quot;<br>
          <br>
          &quot;Cut,&quot; the director yelled.&nbsp; &quot;That's not in the script.&quot;<br>
          <br>
          &quot;I know.&nbsp; This time I'm making a change.&nbsp; Is that too much to ask?&nbsp; Look around.&nbsp;  This weed's growing everywhere.&nbsp;  If the Indians can eat it, so can the settlers. &nbsp;Now find me the guy who did all the research  on Great Basin Indians.&nbsp; I want to know  what they did to this stuff to make it edible.&quot;<br>
          <br>
          When the camera started rolling again,  Ruben stood up.&nbsp; He gathered sticks and  dry brush into a pile and sparked a fire.&nbsp;  When the embers were hot, he dipped a cup of water out of a rock hollow  and sliced a piece of the root into it.&nbsp;  When the water became discolored, he poured it off and added a fresh  bath.&nbsp; At last, when the water had boiled  ten minutes and still remained clear, he speared a slice with his knife and  tasted it, at first gingerly, then eagerly.<br>
          <br>
          He ate his fill.&nbsp; Then he started digging.&nbsp; He dug tubers all afternoon.&nbsp; He dug on into the evening until it was too  dark to see the plants.&nbsp; Then by campfire  light, he tied the tubers together into a bundle.<br>
          <br>
          The next morning, as he shouldered his  load, he muttered, &quot;They might still hang me.&nbsp; It's quite likely their sense of justice will  demand it, but they'll have to do it knowing that whatever else I did, I saved them.&quot;&nbsp; Then he marched on.<br>
          <br>
          However, that renewed sense of being the  hero again, did nothing to lighten the bundle.&nbsp;  As he walked, he bent lower lifting his feet with greater and greater  effort.&nbsp; By the time he hauled his load  to the edge of town, he hardly cared what happened to him as long as he didn't  have to walk another step.&nbsp; He wanted to  shout, &quot;Here I am.&nbsp; Take me and be  done with it.&quot;<br>
          <br>
          But the settlement was abandoned.&nbsp; Ruben wandered up the street between the  buildings.&nbsp; The wind nudged a tumbleweed around the corner of one cabin and rolled it  across the empty horse corral.&nbsp; Near the  end of the street, Ruben paused and cocked his head.&nbsp; He heard scratching.&nbsp; No, swishing.&nbsp;  Following the sound, he rounded one cabin and came on a large&#8209;boned  woman sweeping out her dirt floor.&nbsp; She  was so intent on her work, she didn't see him approach.&nbsp; He startled her when he asked, &quot;Where is  everyone?&quot;<br>
          <br>
          &quot;I don't believe it,&quot; she said  setting the broom down.&nbsp; &quot;We gave  you up for dead days ago.&nbsp; Even at that,  you don't look so good and that's quite a load you're carrying.&quot;<br>
          <br>
          &quot;It's a root we can eat,&quot; Ruben  said dropping the pack.&nbsp; &quot;There's lots more.&nbsp; If  we hitch Ezra's ox to Hyman's cart we can go back and  dig a whole wagon load before the ground freezes.&quot;<br>
          <br>
          &quot;Benjamin,&quot; Bertha called a boy  out of the house.&nbsp; &quot;Benjamin, run  and get the men.&nbsp; Tell them Ruben's  here.&nbsp; You know, the man the Indians  stole.&quot;<br>
          <br>
          &quot;The Indians?&quot; <br>
          <br>
          &quot;I never had such a fright,&quot; she  said.&nbsp; &quot;The redskins around here  don't seem wild, but then all of a sudden you and the horses were gone.&nbsp; We figured you must have surprised them  stealing the animals.&nbsp; Thought you was scalped for sure by now.&nbsp;  You must be hungry.&nbsp; Wash up and  I'll get you some roast duck.&nbsp; I'll only  take a minute.&quot;<br>
          <br>
          &quot;Roast duck?&quot;<br>
          <br>
          &quot;Now there's a story.&nbsp; You escaping from the Indians is something, but finding the ducks was a miracle.&quot;<br>
          <br>
          She poured water into a pan and set it on  the bench just outside the door.&nbsp; She  handed Ruben a towel.<br>
          <br>
          &quot;What about the ducks?&quot; he asked.<br>
          <br>
          &quot;Oh, yes, like I said.&nbsp; We was scared.&nbsp; The men organized a militia, and they stood  guard for a day and a night.&nbsp; Then Ezra  and Harry thinks the Indians are gone.&nbsp;  Jake, Hyman and Jared and some of the others are still worried.&nbsp; So they decide to scout around.<br>
          <br>
          &quot;And they found ducks?&quot;<br>
          <br>
          &quot;Yeah, just over the next  hill.&quot;&nbsp; She pointed east.&nbsp; &quot;It's a flyway.&nbsp; Them birds was a  coming through by the thousands.&nbsp; For two  days the men and the boys shot ducks until they couldn't pack them all  home.&nbsp; They's busy smoking them now.&nbsp; That's where everyone is.&nbsp; You wash up and I'll get you some.&nbsp; Folks is going to be  real happy to see you alive.&quot;<br>
          <br>
          With that she bustled into the cabin to  slice the promised fowl.<br>
          <br>
          Ruben stared after her.&nbsp; With an unsteady hand, he poured the water  over his head and let it run through his beard.&nbsp;  Then suddenly he straightened up, and, with the water still dripping off  his hair, he screamed, &quot;What the hell kind of a plot is this?&nbsp; This tacked-on happy ending is completely  bogus.&quot;<br>
          <br>
          And he walked off the set.</p>

        <p><img src="../img/moviehorse.jpg" alt="photo of mechical horse from movies" width="156" height="240" /><br>
          Photo by Hans Proppe<br>
              <strong>Ride that mechanical horse!<br>
          Movie making magic.</strong></p>
          <p>&nbsp;</p>
          <p><br>
          <a href="http://en.wikipedia.org/wiki/The_Great_Train_Robbery_%281903_film%29">The Great Train Robbery</a>, a 1903 western, was filmed in New Jersey.</p>
          <p>&nbsp;</p>
          <p><a title="An example of the original dime novel series, circa 1860." href="/wiki/Image:DimeNovel.jpg"><img height="315" alt="An example of the original dime novel series, circa 1860." src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/53/DimeNovel.jpg/200px-DimeNovel.jpg" width="200" border="0" /></a><br>
          Before movies, <a href="http://en.wikipedia.org/wiki/Dime_novel">dime novels </a>were popular. Most of the writers had never been west or ever met an Indian.</p>
          <p>&nbsp;</p>
          <p><img src="../img/barn1.gif" alt="photo of old barn used as movie set" width="216" height="195" /><br>
          Want to visit an abandoned movie set? Try Johnson City, near Kanab, Utah</p>
          <p>&nbsp;</p>
        <p>&nbsp;</p>


        <p><a href="#" ng-click="$ctrl.topOfSnakeDiv()">back to top</a></p>

              <p>&nbsp;</p>


      </div>
      <div id="sidebar">

        <h3>Author Info</h3>
        <h3>Contact Info</h3>
        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
