<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="novels">Novels</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding();">Welcome</a>
          <a class="nav-item nav-link active" href="#"><span class="sr-only">Novels</span></a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Surprised by Story</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="NovelsContent" class="col-8">
        <div id="novelsLeft">

          <img src="./img/elliecov.gif" href="#" ng-click="$ctrl.navigateEllie()">
          <img src="./img/Katecov.gif" href="#" ng-click="$ctrl.navigateKate()">
        </div>
        <div id="NovelsSubContent">
          <h3><em>A novel should take us places </em></h3>
          <h3><em>we've never been before.</em></h3>
          <!-- <p>Welcome. This site contains information about Jerrie Hurd and her written works, including new projects that she's working on. You'll find reader's guides, reviews, interviews and research tidbits. How to contact her, where to buy her books, and where she will reading, speaking or teaching. Photos, lists, links and other fun stuff. Explore. Enjoy. Also check out <a href="http://jerriehurd.wordpress.com"><em>Our Stories: The Blog</em>
          </a></p> -->

        </div>
        <div id="novelsRight">
          <img src="./img/pinkcov.gif" href="#" ng-click="$ctrl.navigatePinkerton()">
          <!-- <img id="horses" src="./img/horse1e.jpg" href="#"> -->
        </div>



      </div>
      <div id="sidebar">

        <h3>Author Info</h3>
        <h3>Contact Info</h3>
        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
