#navBarTop {
  font-family: 'Montserrat', serif;
  background-color: #8F9288;
  background-color: -webkit-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -o-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -moz-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: linear-gradient(135deg, #8F9288, #F5F5F6);
  /* height: 94px; */
  align-content: center;
  top: auto;

}





#welcome {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 22%;
  color: #ffffff;
  /* align-self: center; */

}

#currentProject {
  visibility: hidden;
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 17%;
  color: #ffffff;

}

#currentBlurb {
  width: 100%;
}

#memoirTitle {
  font-size: 46px;
}

.currentBlurbParagraph {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;
}

.shortBioBlurb {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;
  float: left;
}

#ellies {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 22%;
  color: transparent;
}

#kateb {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 22%;
  color: transparent;
}

#pinkerton {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 22%;
  color: transparent;
}

#novels {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 27%;
  color: #ffffff;
  /* align-self: center; */

}

#shortstories {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 19%;
  color: #ffffff;
  /* align-self: center; */

}

#snakeOilTitleBar {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 9%;
  color: #ffffff;
}

#sistersTitleBar {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 27%;
  color: #ffffff;
}

#madeForTelevisionTitleBar {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 11%;
  color: #ffffff;
}

#coyoteKissedTitleBar {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 11%;
  color: #ffffff;
}

#memoirDropdownDiv {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 21%;
  top: 16.5%;;
  z-index: -10;
  background-color: #dddddd;
  border: 3px solid #CFAE9C;
  padding: 2.3vmin;

}

#memoirDropdownDiv p {
  font-family: 'Bellefair', sans-serif;
  font-size: 4vmin;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 0.5vmin 0;
  background-color: #dddddd;
}

#memoirDropdownDiv p:hover {
  background-color: #111111;
  color: #ffffff;
}

#authorDropdownDiv {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 45%;
  top: 16.5%;;
  z-index: -10;
  background-color: #dddddd;
  border: 3px solid #CFAE9C;
  padding: 2.3vmin;

}

#authorDropdownDiv p {
  font-family: 'Bellefair', sans-serif;
  font-size: 4vmin;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 0.5vmin 0;
  background-color: #dddddd;
}

#authorDropdownDiv p:hover {
  background-color: #111111;
  color: #ffffff;
}

#funStuffDropdownDiv {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 11%;
  top: 16.5%;;
  z-index: -10;
  background-color: #dddddd;
  border: 3px solid #CFAE9C;
  padding: 2.3vmin;

}

#funStuffDropdownDiv p {
  font-family: 'Bellefair', sans-serif;
  font-size: 4vmin;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 0.5vmin 0;
  background-color: #dddddd;
}

#funStuffDropdownDiv p:hover {
  background-color: #111111;
  color: #ffffff;
}

#menuBar a {
  margin: 3vmin 3vmin 3vmin 3vmin;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 1.8% 0 1.8%;
}

#menuBar a:hover {
  background-color: #000000;
}



.sr-only {
  filter: blur(2px);
}

.sr-only:hover {
  cursor: none;
}

#storyStamp {
  float: right;
  color: #ffffff;
  font-size: 24px;
  background-color: #CFAE9C;
  background-color: -webkit-linear-gradient(bottom left, #CFAE9C, #040605);
  background-color: -o-linear-gradient(bottom left, #CFAE9C, #040605);
  background-color: linear-gradient(to top right, #CFAE9C, #040605);
  background: -o-linear-gradient(45deg, #CFAE9C, #040605);
  background: -moz-linear-gradient(45deg, #CFAE9C, #040605);
  background: linear-gradient(45deg, #CFAE9C, #040605);
  margin: -11vmin 0 0 0;
  padding: 0.7%;
  height: auto;
  width: 24%;

}

#contentImg {
  /* background-image: url(../img/website.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
  float: left;
  width: 100%;
  /* width: 100%; */
  z-index: -1;
  background: url(../img/website.jpg);
  background-size: 100%;
  height: 100%;
  /* padding: 2% 0 0 0; */

}

/* #contactImg {
  /* background-image: url(../img/website.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
  /* float: left;
  width: 100%; */
  /* width: 100%; */
  /* z-index: -1;
  background: url(../img/house.jpg);
  background-size: 100%;
  height: 250%; */
  /* padding: 2% 0 0 0;

} */

#memoirContent {
  float: left;
  width: 94.5%;
  height: 98%;
  overflow: scroll;
}

/* #memoirContent h3 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  margin: 10% 0 -9% 37%;
} */

#memoirContent img {
  float: right;
  width: 30%;
  margin: 2vmin 1vmin 4vmin 13vmin;
  /* filter: sepia(30%); */
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#sophia {
  float: left;
  width: 40%;
  margin: 2vmin 1vmin 4vmin 2vmin;
  /* filter: sepia(30%); */
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#aboveBoneNav {
  position: relative;
  float: left;
  width: 40%;
  margin: 2vmin 8vmin 1vmin 1vmin;
  padding-top: 5vmin;
  text-decoration: none;
  border: 1px solid transparent;
  color: #ffffff;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  background: url(../img/titlenew.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: #8F9288;
  background-color: -webkit-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -o-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -moz-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: linear-gradient(135deg, #8F9288, #F5F5F6); */
  filter: hue-rotate(0deg);
  height: 30%;
  transform: scale(0.6);
}

#aboveBoneNav h3 {
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#aboveBoneNav:hover {
  filter: hue-rotate(180deg);
  transition: filter 1s linear;
}

#snakeOilDef {
  width: 80%;
  margin: 13vmin 1vmin 1vmin 20%;
}

.synopsis {
  float: left;
  margin: 3vmin 3vmin 3vmin 13vmin;
}

#otherNon {
  position: relative;
  float: right;
  width: 20%;
  margin: 2vmin 7vmin 1vmin 1vmin;
  padding: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #ffffff;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  background: url(../img/western-tatras-2690975_1920.jpg);
  background-size: 170%;
  background-repeat: no-repeat;
  /* background-color: #8F9288;
  background-color: -webkit-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -o-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -moz-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: linear-gradient(135deg, #8F9288, #F5F5F6); */
  filter: hue-rotate(0deg);
  height: 24%;
  padding-top: 3vmin;
}

#otherNon h3 {
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#otherNon:hover {
  filter: hue-rotate(180deg);
  transition: filter 1s linear;
}

/* #otherNon {
  position: absolute;
  margin-top: 20vmin;
} */


#memoirContent h3 {
  font-family: 'Montserrat', serif;
  font-size: 48px;
  padding: 1%;
  margin: -10% 9% 3% 9%;
}

#ellieOpeningPagesContent {
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;

}

#ellieOpeningPagesContent p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;

}

#ellieOpeningPagesContent img {
  margin: 0% 6% 0 6%;
  float: left;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#ellieOpeningPagesContent h3 {
  float: left;
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
}

#kateOpeningPagesContent {
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;

}

#kateOpeningPagesContent p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;

}

#kateOpeningPagesContent img {
  margin: 0% 6% 0 6%;
  float: left;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#kateOpeningPagesContent h3 {
  float: left;
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
}

#snakeoilContent {
  float: left;
  width: 84.5%;
  /* height: 118%;
  overflow: scroll; */

}

#snakeoilContent p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;

}

#snakeoilContent img {
  margin: 0% 6% 0 6%;
  float: left;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#snakeoilContent h3 {
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  margin-left: 30%;
}

#pinkOpeningPagesContent {
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;

}

#pinkOpeningPagesContent p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;

}

#pinkOpeningPagesContent img {
  margin: 0% 6% 0 6%;
  float: left;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#pinkOpeningPagesContent h3 {
  float: left;
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
}

#pinkEssayContent {
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;

}

#pinkEssayContent p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;

}

#pinkEssayContent img {
  margin: 0% 6% 0 6%;
  float: left;
}

#pinkEssayContent h3 {
  float: left;
  font-family: 'Bellefair', sans-serif;
  font-size: 42px;
  margin: 1% 12% 6% 6%;;
}



#content img {
  width: 100%;
  z-index: -1;
}

#ellieContent {
  background-image: url(../img/paramount-ranch-1926456_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;
  filter: sepia(100%);
}

#kateContent {
  background-image: url(../img/photo-1023416_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;
  filter: sepia(100%);
}

#pinkertonContent {
  background-image: url(../img/detective-1347102_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;
  filter: sepia(100%);
}

#ellieContentParagraphs {
  margin: 12% 0 0 0;
}

#kateContentParagraphs {
  margin: 12% 0 0 0;
}

#pinkertonContentParagraphs {
  margin: 12% 0 0 0;
}

#ellieContent h3 {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  margin: 2% 0 -9% 5%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#ellieContent p {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  padding: 1%;
  margin: 1% 6% 0 6%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#ellieContent img {
  float:left;
  margin: 4vmin;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#ellieContent h1 {
  float: left;
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 48px;
  margin: 11vmin 0 0 5vmin;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#ellieContent ul {
  list-style-type: none;
  margin: 20vmin 6vmin 0 6vmin;
}

#kateContent h3 {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  margin: 2% 0 -9% 5%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#kateContent p {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  padding: 1%;
  margin: 1% 6% 0 6%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#kateContent img {
  float:left;
  margin: 4vmin;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#kateContent h1 {
  float: left;
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 48px;
  margin: 11vmin 0 0 5vmin;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#kateContent ul {
  list-style-type: none;
  margin: 20vmin 6vmin 0 6vmin;
}

#pinkertonContent h3 {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  margin: 2% 0 -9% 5%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#pinkertonContent p {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  padding: 1%;
  margin: 1% 6% 0 6%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#pinkertonContent img {
  float:left;
  margin: 4vmin;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#pinkertonContent h1 {
  float: left;
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 48px;
  margin: 11vmin 0 0 5vmin;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#pinkertonContent ul {
  list-style-type: none;
  margin: 20vmin 6vmin 0 6vmin;
}

/* #ellieContent ol p {
  color: #000000;
  text-shadow: 0px 0px 0px #000000;
} */

#NovelsContent {

  float: left;
  width: 71.5%;
}

#shortStoriesContent {

  float: left;
  width: 71.5%;
}

#novelsLeft {
  float: left;
  margin: 0;
  width: 27.5%;
}

#novelsLeft img {
  margin: 30% 3% 3% 15%;
  box-shadow: -1px 1px 1px #aaaaaa, -2px 2px 1px #aaaaaa, -3px 3px 1px #aaaaaa, -4px 4px 1px #aaaaaa;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 500ms linear;
}

#novelsLeft img:hover {
  filter: grayscale(0%);
  transition: filter 500ms linear;
}

#shortStoriesLeft {
  float: left;
  margin: 0;
  width: 27.5%;
}

#shortStoriesLeft img {
  /* width: 15%; */
  margin: 47.4% 3% 3% 15%;
  box-shadow: -1px 1px 1px #aaaaaa, -2px 2px 1px #aaaaaa, -3px 3px 1px #aaaaaa, -4px 4px 1px #aaaaaa;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 500ms linear;
}

#shortStoriesLeft img:hover {
  filter: grayscale(0%);
  transition: filter 500ms linear;
}

#shortStoriesLeft p {
  font-family: 'Roboto', serif;
  font-size: 18px;
  margin: 0 0 0 5vmin;
}

#shortStoriesRight p {
  font-family: 'Roboto', serif;
  font-size: 18px;
  margin: 0 0 0 5vmin;
}

#novelsRight {
  float: right;
  margin: -64% 0 0 2%;
  width: 22.5%;
}

.shortStoryImage {
  width: 55%;
}


#novelsRight img {
  margin: 30% 3% 15% 30%;
  box-shadow: -1px 1px 1px #aaaaaa, -2px 2px 1px #aaaaaa, -3px 3px 1px #aaaaaa, -4px 4px 1px #aaaaaa;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 500ms linear;
}

#novelsRight img:hover {
  filter: grayscale(0%);
  transition: filter 500ms linear;
}

#shortStoriesRight {
  float: right;
  margin: -64% 0 0 2%;
  width: 22.5%;
}



#shortStoriesRight img {
  margin: 50.4% 2% 8% 23%;
  box-shadow: -1px 1px 1px #aaaaaa, -2px 2px 1px #aaaaaa, -3px 3px 1px #aaaaaa, -4px 4px 1px #aaaaaa;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 500ms linear;
}

#shortStoriesRight img:hover {
  filter: grayscale(0%);
  transition: filter 500ms linear;
}

#horses {
  width: 150px;
  height: 250px;
}

#NovelsSubContent {
  float: right;
  width: 54.1%;
  margin: -61.8% 21.5% 0 0;
  height: 80vmin;
  background-image: url(../img/novelphoto.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1%;
}

#NovelsSubContent h3 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  color: #ffffff;
  margin: 2% 0 0 23%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000, -3px 3px 1px #000000;
}

#shortStoriesSubContent {
  float: right;
  width: 54.1%;
  margin: -57.4% 21.5% 0 0;
  height: 80vmin;
  background-image: url(../img/fantasynite.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1%;
}

#shortStoriesSubContent h3 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  color: #ffffff;
  margin: 2% 0 0 23%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000, -3px 3px 1px #000000;
}

#contentImg h3 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  margin: 10% 0 -9% 37%;
}





#contentImg p {
  font-family: 'Lato', serif;
  font-size: 30px;
  /* padding: 1%; */
  margin: 1% 6% 0% 6%;
}

.bookGraphic {
  margin: 2vmin 2vmin 6vmin 2vmin;
}

.bookBlurb {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  margin: 0 3vmin 0 3vmin;
}

#kateBlurbs {
  margin: 60% 0 0 0;
}

#pinkertonBlurbs {
  margin: 60% 0 0 0;
}

#ellieSidebar {
  width: 25.35%;
  float: right;
  height: 118%;
  overflow: scroll;
  background-color: #2E1945;
  background-color: -webkit-linear-gradient(135deg, #2E1945, #D12F7D);
  background: -o-linear-gradient(135deg, #2E1945, #D12F7D);
  background: -moz-linear-gradient(135deg, #2E1945, #D12F7D);
  background: linear-gradient(135deg, #2E1945, #D12F7D);
}
#ellieSidebar img {
  float: left;
  filter: brightness(100%);
  transition: filter 400ms linear;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#ellieSidebar img:hover {
  filter: brightness(150%);
  transition: filter 300ms linear;
}

#ellieSidebar a {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  text-decoration: none;
}

#ellieSidebar a:hover {
  color: #ffffff;
}

#ellieSidebar p {
  float: left;
  font-family: 'Bellefair', serif;
  font-size: 24px;
  margin: 3vmin 4vmin 3vmin 4vmin;
}

#kateSidebar {
  width: 25.35%;
  float: right;
  height: 118%;
  overflow: scroll;
  background-color: #F43472;
  background-color: -webkit-linear-gradient(135deg, #F43472, #FDAB54);
  background: -o-linear-gradient(135deg, #F43472, #FDAB54);
  background: -moz-linear-gradient(135deg, #F43472, #FDAB54);
  background: linear-gradient(135deg, #F43472, #FDAB54);
}
#kateSidebar img {
  float: left;
  filter: brightness(100%);
  transition: filter 400ms linear;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#kateSidebar img:hover {
  filter: brightness(150%);
  transition: filter 300ms linear;
}

#kateSidebar a {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  text-decoration: none;
}

#kateSidebar a:hover {
  color: #ffffff;
}

#kateSidebar p {
  float: left;
  font-family: 'Bellefair', serif;
  font-size: 24px;
  margin: 3vmin 4vmin 3vmin 4vmin;
}

#pinkertonSidebar {
  width: 25.35%;
  float: right;
  height: 118%;
  overflow: scroll;
  background-color: #F43472;
  background-color: -webkit-linear-gradient(135deg, #95B9D3, #FA9547);
  background: -o-linear-gradient(135deg, #95B9D3, #FA9547);
  background: -moz-linear-gradient(135deg, #95B9D3, #FA9547);
  background: linear-gradient(135deg, #95B9D3, #FA9547);
}
#pinkertonSidebar img {
  float: left;
  filter: brightness(100%);
  transition: filter 400ms linear;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#pinkertonSidebar img:hover {
  filter: brightness(150%);
  transition: filter 300ms linear;
}

#pinkertonSidebar a {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  text-decoration: none;
}

#pinkertonSidebar a:hover {
  color: #ffffff;
}

#pinkertonSidebar p {
  float: left;
  font-family: 'Bellefair', serif;
  font-size: 24px;
  margin: 3vmin 4vmin 3vmin 4vmin;
}

#sidebar {
  width: 25.35%;
  float: right;
  height: 100%;
  background-color: #DCC4A8;
  background-color: -webkit-linear-gradient(135deg, #DCC4A8, #A87350);
  background: -o-linear-gradient(135deg, #DCC4A8, #A87350);
  background: -moz-linear-gradient(135deg, #DCC4A8, #A87350);
  background: linear-gradient(135deg, #DCC4A8, #A87350);
}

#sidebar h3 {
  font-family: 'Lato', serif;
  font-size: 24px;
  cursor: pointer;
  padding: 3vmin;
  color: #ffffff;
  margin-top: 30%;
}

#sidebar h3:hover {
  color: #000000;
}

#sidebar p {
  font-family: 'Lato', serif;
  font-size: 18px;
  padding-top: 25vmin;
  padding-left: 3vmin;
}

#theRow {
  height: 83vmin;
}

.discussionQuestions {
  margin: 8vmin;
  padding: 8vmin;
  border-radius: 10%;
  background-color: #F43472;
  background-color: -webkit-linear-gradient(135deg, #ccc, #FDAB54);
  background: -o-linear-gradient(135deg, #ccc, #FDAB54);
  background: -moz-linear-gradient(135deg, #ccc, #FDAB54);
  background: linear-gradient(135deg, #ccc, #FDAB54);
}

.discussionQuestions h3 {
  margin: 2vmin 1vmin 4vmin 20vmin;
}

.teaser {
  font-family: 'Montserrat', serif;
  font-size: 30px;
  margin: 1% 6% 1% 12%;

}

.subteaser {
  font-family: 'Roboto', serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;
}

#theSubTeaser {
  margin: 10% 5% 2% 35%;
  z-index: 1;
}

#theTeaserDiv {
  margin: 0% 5% 5% 55%;
}

#contactMail {
  font-family: 'Montserrat', serif;
  font-size: 56px;
  margin: 4vmin 4vmin 4vmin 4vmin;
  color: #942D08;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
}

#contactMail a:link {
  color: #942D08;
  /* text-decoration: none; */
  cursor: pointer;
  float: left;
}

#housePic {
  margin: 0;
  width: 40%;
  float: left;
}

#tellMeAboutTheHouse {
  width: 55%;
  margin: 3vmin 3vmin 1vmin 1vmin;
  float: left;
}

#tellMeAboutTheHouse  p {
  font-family: 'Lato', serif;
  font-size: 30px;

  color: #942D08;
  font-weight: bold;
}

#contactForm {
  font-family: 'Lato', serif;
  font-size: 30px;
  width: 100%;
  margin: 1vmin 3vmin 1vmin 1vmin;
  float: left;
  color: #942D08;
  font-weight: bold;
}

#contactForm input[type=text] {
  width: 85%;
  font-size: 30px;
  margin: 1vmin;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#contactForm textarea {
  width: 85%;
  font-size: 30px;
  margin: 1vmin;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#contactForm button {
  width: 85%;
  font-size: 30px;
  margin: 1vmin;
  background: #4C747D;
  cursor: pointer;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}

#contactForm h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 24px;
}

#authorPicShort {
  position: relative;
  float: right;
  width: 30%;
  margin: 2vmin 1vmin 1vmin -1vmin;
  /* left: 1%; */
  /* left: 10%; */
  /* filter: sepia(30%); */
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#bioShortBlurb {
  float: left;
  width: 60%;
  position: absolute;
  margin: 12vmin 1vmin 1vmin 1vmin;
}

#bioLongBlurb {
  float: right;
  width: 60%;
  position: absolute;
  margin: 2vmin 1vmin 1vmin 35%;
}

.longBioBlurb {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;
  float: left;
}

#authorPicLong {
  float: left;
  width: 30%;
  position: absolute;
  margin: 1vmin 1vmin 1vmin 0;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#missElliePublishedInfos img {
  margin: 2vmin 2vmin 2vmin 10vmin;
  float: left;
  padding: 0;
  width: 15%;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#missElliePublishedInfos p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 1%;
  float: left;
}

#katePublishedInfos img {
  margin: 2vmin 2vmin 2vmin 10vmin;
  float: left;
  padding: 0;
  width: 15%;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#katePublishedInfos p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 1%;
  float: left;
}

#ladyPinkertonPublishedInfos img {
  margin: 2vmin 2vmin 2vmin 10vmin;
  float: left;
  padding: 0;
  width: 15%;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#ladyPinkertonPublishedInfos p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 1%;
  float: left;
}

#aboutEllie {
  width: 70%;
  float: left;
}

#aboutKate {
  width: 70%;
  float: left;
}

#aboutPinkerton {
  width: 70%;
  float: left;
}

.publishersBlurb {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-top: 16vmin;
  padding-bottom: 2vmin;
  padding-left: 10vmin;
  padding-right: 10vmin;
}

.publishersBlurb h2 {
  font-size: 36px;
  margin: 10vmin 1vmin 1vmin 10vmin;
}

.publishersBlurb p {
  font-family: 'Lato', sans-serif;
  margin: 10vmin 1vmin 1vmin 10vmin;
}

.editorialReviewPub {
  width: 90%;
  float: left;
  margin: 2vmin 2vmin 2vmin 10vmin;
}

.editorialReviewPub h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}

.editorialReviewPub h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin-left: 16vmin;
}

.editorialReviewPub p {
  font-family: 'Bellefair', san-serif;
  font-size: 24px;
  margin: 1vmin 15vmin 1vmin 10vmin;
}

#publishedBooksContent {
  overflow: scroll;
  height: 100%;
}

#earlyPublishedBooks {
  margin: 1vmin 15vmin 1vmin 15vmin;
}

#earlyPublishedBooks img {
  margin: 2vmin 7% 2vmin 7%;
  float: left;
  padding: 0;
  width: 15%;
  /* -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
}

#authorDesk {
  float: left;
  width: 40%;
  height: 90vmin;
  overflow: scroll;
}

#authorDesk img {
  margin: 4vmin 2vmin 2vmin 2vmin;
  /* float: left; */
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#favoriteBooksDiv {
  float: right;
  width: 55%;
  padding: -1vmin 3vmin 3vmin 3vmin;
  margin: 1vmin 2vmin 1vmin 2vmin;
  /* -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
  height: 90vmin;
  overflow: scroll;
}

#favoriteBooksDiv h3 {
  font-family: 'Bellefair', san-serif;
  font-size: 36px;
  margin-left: 6vmin;
}

#favoriteBooksDiv p {
  font-family: 'Bellefair', san-serif;
  font-size: 30px;
  margin: 0 1vmin 2vmin 6vmin;
}

#favoriteBooksDiv img {
  width: 10%;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  float: left;
  margin: 0 0 0 6vmin;
}

.favBookTitle {
  font-family: 'Bellefair', san-serif;
  float: left;
  text-decoration: none;
  padding: 1vmin 0 1vmin 1.5vmin;
  /* margin-left: 4vmin; */
}

.favBookAuthor {
  font-family: 'Bellefair', san-serif;
  float: left;
  text-decoration: none;
  padding: 1vmin 0 1vmin 1.5vmin;
}

#favoriteRetreatsDiv h3 {
  font-family: 'Lato', san-serif;
  font-size: 30px;
  padding: 2vmin;
}

#favoriteRetreatsDiv img {
  float: left;
  margin: -8vmin 1vmin 1vmin 1vmin;
}

#favoriteRetreatsDiv p {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  float: left;
  width: 50%;
  margin-left: 2vmin;
}

#glassEye {
  float: left;
  width: 55%;
}

#glassEye img {
  margin: 2.5vmin;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  width: 100%;
}

#futureProjectsTextBox {
  float: left;
  width: 40%;
  padding: 0 3vmin 1vmin 3vmin;
  height: 80vmin;
  overflow: scroll;

}

#futureProjectsTextBox h2 {
  margin-left: 5vmin;
  font-family: 'Lato', san-serif;
  font-size: 36px;
}

#futureProjectsTextBox h5 {
  margin-left: 3vmin;
  font-family: 'Lato', san-serif;
  font-size: 30px;
  font-weight: bold;
}

#futureProjectsTextBox p {
  margin: 0 1vmin 1vmin 2vmin;
  font-family: 'Bellefair', san-serif;
  font-size: 30px;
}

#photoSiteBanner img {
  width: 25%;
  height: auto;
  margin: 1vmin 35% 0 35%;
}

#photoSiteText p {
  font-family: 'Bellefair', san-serif;
  font-size: 30px;
  margin: 3.5vmin 25% 1vmin 25%;
}

#photo1 {
  float: left;
  width: 35%;
  margin: 0 2vmin 1vmin 15%;
}

#photo2 {
  float: left;
  width: 23.1%;
  margin: 0 2vmin 1vmin 10%;
}

#paintedHorse {
  width: 14%;
  float: left;
  margin: 0 2% 0 0;
  position: fixed;
}

.shortStoryText {
  font-family: 'Bellefair', san-serif;
  font-size: 30px;
  margin: 1vmin 12% 1vmin 6%;
}

#oils {
  width: 17%;
  float: right;
  margin: 0 0 0 4vmin;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#shortStoryContent {
  margin-left: 13%;
  height: 90vmin;
  overflow: scroll;
}
