#navBarTop {
  font-family: 'Montserrat', serif;
  background-color: #8F9288;
  background-color: -webkit-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -o-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: -moz-linear-gradient(135deg, #8F9288, #F5F5F6);
  background: linear-gradient(135deg, #8F9288, #F5F5F6);
  /* height: 94px; */
  align-content: center;
  top: auto;

}

#welcome {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 22%;
  color: #ffffff;
  /* align-self: center; */

}
#ellies {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 22%;
  color: transparent;
}

#novels {
  font-size: 80px;
  padding: 0;
  margin: 0 0 0 27%;
  color: #ffffff;
  /* align-self: center; */

}

#menuBar a {
  margin: 3vmin 3vmin 3vmin 3vmin;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 1.8% 0 1.8%;
}

#menuBar a:hover {
  background-color: #000000;
}



.sr-only {
  filter: blur(2px);
}

.sr-only:hover {
  cursor: none;
}

#storyStamp {
  float: right;
  color: #ffffff;
  font-size: 24px;
  background-color: #CFAE9C;
  background-color: -webkit-linear-gradient(bottom left, #CFAE9C, #040605);
  background-color: -o-linear-gradient(bottom left, #CFAE9C, #040605);
  background-color: linear-gradient(to top right, #CFAE9C, #040605);
  background: -o-linear-gradient(45deg, #CFAE9C, #040605);
  background: -moz-linear-gradient(45deg, #CFAE9C, #040605);
  background: linear-gradient(45deg, #CFAE9C, #040605);
  margin: -11vmin 0 0 0;
  padding: 0.7%;
  height: auto;
  width: 24%;

}

#content {
  /* background-image: url(../img/website.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
  float: left;
  width: 74.5%;
  /* padding: 2% 0 0 0; */

}

#ellieOpeningPagesContent {
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;

}

#ellieOpeningPagesContent p {
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
  margin: 1% 6% 1% 6%;

}

#ellieOpeningPagesContent img {
  margin: 0% 6% 0 6%;
  float: left;
}

#ellieOpeningPagesContent h3 {
  float: left;
  font-family: 'Bellefair', sans-serif;
  font-size: 30px;
}

#content img {
  width: 100%;
}

#ellieContent {
  background-image: url(../img/paramount-ranch-1926456_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  width: 74.5%;
  height: 118%;
  overflow: scroll;
  filter: sepia(100%);
}

#ellieContentParagraphs {
  margin: 12% 0 0 0;
}

#ellieContent h3 {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  margin: 2% 0 -9% 5%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#ellieContent p {
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  padding: 1%;
  margin: 1% 6% 0 6%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#ellieContent img {
  float:left;
  margin: 4vmin;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#ellieContent h1 {
  float: left;
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-size: 48px;
  margin: 11vmin 0 0 5vmin;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000;
}

#ellieContent ul {
  list-style-type: none;
  margin: 20vmin 6vmin 0 6vmin;
}

/* #ellieContent ol p {
  color: #000000;
  text-shadow: 0px 0px 0px #000000;
} */

#NovelsContent {

  float: left;
  width: 71.5%;
}

#novelsLeft {
  float: left;
  margin: 0;
  width: 27.5%;
}

#novelsLeft img {
  margin: 30% 3% 3% 15%;
  box-shadow: -1px 1px 1px #aaaaaa, -2px 2px 1px #aaaaaa, -3px 3px 1px #aaaaaa, -4px 4px 1px #aaaaaa;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 500ms linear;
}

#novelsLeft img:hover {
  filter: grayscale(0%);
  transition: filter 500ms linear;
}

#novelsRight {
  float: right;
  margin: -64% 0 0 2%;
  width: 22.5%;
}


#novelsRight img {
  margin: 30% 3% 15% 30%;
  box-shadow: -1px 1px 1px #aaaaaa, -2px 2px 1px #aaaaaa, -3px 3px 1px #aaaaaa, -4px 4px 1px #aaaaaa;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 500ms linear;
}

#novelsRight img:hover {
  filter: grayscale(0%);
  transition: filter 500ms linear;
}

#horses {
  width: 150px;
  height: 250px;
}

#NovelsSubContent {
  float: right;
  width: 54.1%;
  margin: -61.8% 21.5% 0 0;
  height: 80vmin;
  background-image: url(../img/novelphoto.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1%;
}

#NovelsSubContent h3 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  color: #ffffff;
  margin: 2% 0 0 23%;
  text-shadow: -1px 1px 1px #000000, -2px 2px 1px #000000, -3px 3px 1px #000000;
}

#content h3 {
  font-family: 'Roboto', serif;
  font-size: 24px;
  margin: 10% 0 -9% 37%;
}





#content p {
  font-family: 'Bellefair', serif;
  font-size: 36px;
  padding: 1%;
  margin: 1% 6% 1% 6%;
}

.bookGraphic {
  margin: 2vmin 2vmin 6vmin 2vmin;
}

.bookBlurb {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  margin: 0 3vmin 0 3vmin;
}

#ellieBlurbs {
  margin: 60% 0 0 0;
}

#ellieSidebar {
  width: 25.35%;
  float: right;
  height: 118%;
  overflow: scroll;
  background-color: #2E1945;
  background-color: -webkit-linear-gradient(135deg, #2E1945, #D12F7D);
  background: -o-linear-gradient(135deg, #2E1945, #D12F7D);
  background: -moz-linear-gradient(135deg, #2E1945, #D12F7D);
  background: linear-gradient(135deg, #2E1945, #D12F7D);
}
#ellieSidebar img {
  float: left;
  filter: brightness(100%);
  transition: filter 400ms linear;
  box-shadow: -1px 1px 1px #999999, -2px 2px 1px #999999;
}

#ellieSidebar img:hover {
  filter: brightness(150%);
  transition: filter 300ms linear;
}

#ellieSidebar a {
  font-family: 'Bellefair', serif;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  text-decoration: none;
}

#ellieSidebar a:hover {
  color: #ffffff;
}

#ellieSidebar p {
  float: left;
  font-family: 'Bellefair', serif;
  font-size: 24px;
  margin: 3vmin 4vmin 3vmin 4vmin;
}

#sidebar {
  width: 25.35%;
  float: right;
  height: 100%;
  background-color: #DCC4A8;
  background-color: -webkit-linear-gradient(135deg, #DCC4A8, #A87350);
  background: -o-linear-gradient(135deg, #DCC4A8, #A87350);
  background: -moz-linear-gradient(135deg, #DCC4A8, #A87350);
  background: linear-gradient(135deg, #DCC4A8, #A87350);
}

#sidebar h3 {
  font-family: 'Lato', serif;
  font-size: 24px;
  cursor: pointer;
  padding: 3vmin;
  color: #ffffff;
  margin-top: 30%;
}

#sidebar h3:hover {
  color: #000000;
}

#sidebar p {
  font-family: 'Lato', serif;
  font-size: 18px;
  padding-top: 25vmin;
  padding-left: 3vmin;
}

#theRow {
  height: 83vmin;
}
