<div id="memoirContainer" class="container-fluid">






  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Just Above Bone</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current: <em>Just Above Bone</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
              <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

              <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
              <!-- <a class="nav-item nav-link" href="#">Books</a> -->
            </tr>
          </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p><span class="sr-only">About the Memoir</span></p>
            <p ng-click="$ctrl.navigageIntroduction()">Introduction</p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
            <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div id="memoirContent" class="col-8">
        <!-- <img id="landingPic" src="./img/website.jpg"> -->

        <!-- <a id="aboveBoneNav"><h3><em></em></h3></a> -->

        <img src="./img/treesm.jpg">
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->
        <br><br><br><br><br><br><br><br>
        <div id="currentBlurb" class="textForReading">
          <h3 id="memoirTitle"><em><b>Just Above Bone:</b><br> where families and their stories live <br><br>A Memoir</em></h3>
          <p class="currentBlurbParagraph">&nbsp;&nbsp;&nbsp;Jerrie Hurd thought she was luckier than most. Her family tells great love stories—a wonderful heritage. Then she discovered the hazard. If you listen long enough, you can wait a lifetime expecting to be swept off your feet.<br><br>
          &nbsp;&nbsp;&nbsp;Surprise! Those same-old, same-old, heard-them-a-hundred-times family stories are full of hazards that apply to everyone. Pay attention, family stories are the script. They repeat, like songs stuck in our heads, telling us over and over what the people in our families have always done—judging us when we don’t.<br><br>
          &nbsp;&nbsp;&nbsp;Only one way out—own them!<br><br>
          &nbsp;&nbsp;&nbsp;<b>Just Above Bone</b> chronicles Hurd’s story-filled journey into her inherited past. Newly aware of the power of stories, she travels from a ranch in Idaho to an island off the coast of Denmark with various stops along the way gathering, examining and wrestling with her heritage.<br><br>
          &nbsp;&nbsp;&nbsp;<em>Why that story? Why that story told that way? </em>she asks, again and again, with surprising results.<br><br>
          &nbsp;&nbsp;&nbsp;The focus is on stories, not genealogy, because nobody remembers names and dates. Stories, on the other hand, are hard to forget. What’s more, it is story that shapes values, perspective, even our sense of self. Knowing your cultural heritage, Hurd argues, might be as important as knowing your family’s medical history.<br><br>
	        &nbsp;&nbsp;&nbsp;This is a book that goes beyond one family and their place in American history. It is about finding firm footing amid the muck of most of our messy lives. It is a love-poem to storytellers, a roadmap to finding roots, an exercise in finding home. It is about taking control of life and how to recognize wisdom in a modern, mobile world.<br><br>
          &nbsp;&nbsp;&nbsp;“It sounds too simple to be true,” Hurd writes, “but when you change your story, you change everything.” </p><br><br>

        </div>




      </div>

    </div>


</div>
