<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Surprised by Story</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding()">Welcome</a>
          <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a>
          <a class="nav-item nav-link active"><span class="sr-only">Surprised by Story</span></a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="memoirContent" class="col-8">
        <!-- <img id="landingPic" src="./img/website.jpg"> -->
        <h3 align="center"><em>We expect our lives to turn out</em></h3>
        <h3 align="center"><em>like the stories we've heard.</em></h3>
        <a id="aboveBoneNav" href="#" ng-click="$ctrl.navigateToSurprise()"><h3><em></em></h3></a>

        <img src="./img/shclowns.jpg">
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div id="currentBlurb">
          <h3>In my family we tell great love stories.</h3>
          <p class="currentBlurbParagraph">Every family has a central narrative—the story they tell more often than any other. In my family it is the story of the great grandmother who stopped a railroad for the sake of love—not one or two trains, a whole railroad. We also have a story of a young girl who dreamed as she sat swinging on the front gate, hoping that a guy on the white horse who would take her away from a bad situation and, one day, he showed up, white horse and all. We also have a World War II romance, complete with love letters, a mid-19th Century shipboard romance, and a more distance tale of lost love and Viking pirates.  Given those stories, I can’t imagine the women in my family settling for less than love, which also means some of us spend our whole lives waiting . . .</p><br>
          <h3>Because the stories we tell often become the scripts we live or try to live?</h3>
          <p class="currentBlurbParagraph">That is a theme in <em>Surprised by Story</em>. More than that, <em>Surprised by Story</em> is about the power of family stories. It urges the reader to examine her own stories as means of taking control of her life. Stories can be reshaped. In fact, families do it all the time.</p><br>

        </div>




      </div>
      <div id="sidebar">

        <h3>Author Info</h3>
        <h3>Contact Info</h3>
        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
