<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="kateb">Kate Burke</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding()">Welcome</a>
          <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Just Above Bone</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a>
          <!-- <a class="nav-item nav-link" href="#">Books</a> -->

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="pinkOpeningPagesContent" class="col-8">

        <p align="center"><span class="style3"><br>
          Chapter  1<br>
        </span><br>
            September,  1882<br>
            Wyoming Territory </p><br>
            <p><em>Gutsy</em>, Dayle thought as she teetered on the  edge of a roof. <br>
              <br>
              The span in front of her was three feet, the drop two stories.  She hated heights.
            She hated worse the fact that Lotta had already  made the leap, seemingly effortlessly. She and her Chinese cook were now  running ahead over the next rooftop, not looking back.  <em>Gutsy</em>, Dayle thought again  as she watched Lotta. That was begrudging praise of  that other woman.</p>
            <p>Normally &quot;gutsy&quot; was a word Dayle  reserved to describe herself. It allowed her to indulge a sense of superiority  over a woman like Lotta Bateman. If you were gutsy  you didn't need a rich husband or Chinese servants. You didn't need Lotta's fair-hair, pink-cheeks, or blue-eyes. Dayle's own beauty ran to a less  fashionable sultriness-dark eyes, dark hair, and enough complexion to  compliment wearing bold colors. <br>
              <br>
              She swallowed and studied the span in front of her. Then drawing breath, she  swore she'd make the leap to the next roof, or she'd step off this one and be  done with it. Having uncommon nerve meant that much to her. It was practically  the badge of her being. <br>
              <br>
              As part of her current disguise, Dayle was  pretending to be a quiet, unassuming widowed seamstress who'd come to stay with  her well-married second cousin, meaning Lotta. Dayle Dobson was no relation to Lotta.  She was a Lady Pinkerton Detective and gutsier than any woman she knew, or she  was nothing. <br>
              <br>
              Having touched on that determination, she took two steps back to give  herself a running start, and then at the last moment, she couldn't do it. She  caught herself again, right at the edge, and teetered. <em>Don't look down, </em>she  breathed and quickly glanced up and away, not that the broader perspective  helped. <br>
              <br>
              The scene was almost as dislocating as the height. In a quieter moment, she  might have entertained the romantic notion that she'd been whisked away to some  Cantonese village in old Cathay complete with  the smell of herb shops and opium dens. She knew better. This was the Chinatown  of White Springs, Wyoming-a slaphappy collection of makeshift shacks, lining a  maze of narrow alleyways and tiny garden plots. The structures, many of them  two-stories, had been thrown together from packing crates and black building  paper. The roofs had been tiled with flattened tin cans. <br>
              Her foot slipped on one of those flattened cans, loosening it. She pitched  forward, looked down. It was early, barely dawn. Ducks and geese and pigs  rooted in the gutters below her. Not much else moved. Dayle  hardly breathed until her foot caught something solid. Then she threw her shoulders  back and her balance steadied. <br>
              <br>
              Then not giving herself another moment to waver, Dayle  jumped. Her foot tripped on one of the tin cans, snagging her momentum. The  immediate sensation was not of forward movement, but of falling. She flashed a  mental picture of the Sister Mary Julia, head teacher, at the orphanage where  she grew up. The older woman's finger was in Dayle's  face, her voice declared with a note of triumph, &quot;I knew you'd come to a  bad end.&quot; Only her idea of Dayle's descent into  the gutter had been moral, not literal. Then to her relief, Dayle  landed flat on the other roof with inches to spare. She rolled onto her feet  and caught up with Lotta and her cook as they came to  the edge of another roof with a trellis hanging off it and some kind of vine  growing round it. <br>
              <br>
              The cook, an older man wearing wire-rimmed glasses that hugged his face,  lowered himself off the edge of the roof and began pushing the vine aside,  clearing a path down the trellis. <br>
        &quot;Hurry,&quot; Dayle heard Lotta  say softly, an edge of impatience tingeing her usually lilting voice. <br>
              The cook, whom Dayle observed always did as he  pleased, mumbled &quot;Yes, ma'am,&quot; and continued as before. <br>
              <br>
              Lotta's head came up. She looked around. &quot;See  anyone?&quot; she asked Dayle. She meant Tong. <br>
              Dayle shook her head. The fact that it was getting  lighter didn't help. Cocks had begun to crow all over Chinatown-a  whole chorus of doodle-do's punctuated by barking dogs and the sound of a  distant train. <br>
              <br>
              Lotta leaned over the edge of the roof again.  &quot;Hurry,&quot; she told the cook. However he wasn't to be hurried. Voicing  the vine's Chinese name, he said, &quot;Very fine. Most fine plant like this I  see,&quot; and then he continued as before gingerly clearing a path down the  trellis. <br>
              <br>
              Dayle stepped into the shadow of a chimney and  studied the darkness under the eaves, behind barrels and clay pots, and in the  latticework of rooftop chicken coops. She didn't see anything, but &quot;Hop  Alley&quot; was a society unto itself where even the sheriff didn't come. Nothing  happened here without the Tong knowing and her skin crawled  just thinking about Tong. <br>
              <br>
        &quot;You're quite sure you don't see anyone?&quot; Lotta  asked again as if she thought Dayle might be cavalier  enough to forget where they were and slack off watching. <br>
        <br>
              Dayle did glance over her shoulder briefly in  order to look over the other woman. She was the &quot;big boss's wife.&quot;  The Tong would think twice before hurting her, but Dayle  enjoyed no such privilege. They might even enjoy making an example out of a  Lady Pinkerton. She had no doubt they suspected she was a Lady Pinkerton  despite her pretense of being Lotta's relative. There  was no fooling them. The Tong knew everything. <br>
              <br>
              Meanwhile Lotta had squatted near the edge of the  roof, keeping low while she waited for the cook to clear the way. A short,  slight woman, she was impeccably dressed for this outdoor adventure in an  English tailored suit of fine brown cloth with velvet collar and cuffs. Her  underskirts, visible when she leaped from roof to roof, were ruffled and French.  Her overskirt was satin and bouffantly draped.  Perched atop her head, was a felt hat with the wing of an English blue jay  stuck in the band. <br>
              The irony was that Dayle was supposed to protect Lotta and make sure she didn't get into &quot;too much  trouble.&quot; More like the woman was going to get Dayle  killed without so much as mussing her clothes or breaking a sweat. <br>
              <br>
              Dayle shook her head. She knew the popular parlor  stories whispered among the ladies of Lotta's  class-tales of white slavery, of women snatched by the Tong and carried off to  richly textured opium dens where they were rumored to be kept naked and  drugged. There were even lurid photographs supposedly taken in such dens of  iniquity. It was said that white women had no resistance to the exotic herbs they  were fed in such places. Not being able to help themselves, they begged to be  repeatedly ravished. Of course, none of those stories were true, but such tales  were usually enough to keep women like Lotta at home,  minding her own business. Dayle still hadn't figured  out what Lotta hoped to accomplish sneaking into Chinatown like this? That is, besides the obvious.<br>
              <br>
              A noise. Dayle jumped.  Her heart raced, but it was only the flutter of a bird finding the edge of the  roof. Dayle breathed again and wished the cook would  hurry. Meanwhile she continued to search the shadows while she returned to the  thought that it made no sense for a woman, like Lotta,  to be dusting the rooftops of Chinatown with  her expensive hems. It made even less sense for Dayle  to be trailing behind her. The Pinkertons never  investigated &quot;matters of the heart.&quot; No spying on wives. No chasing  errant husbands. No keeping lists of &quot;pretty boys.&quot; But this was a  &quot;matter of the heart&quot; as sure as she was balanced on the slant of  this roof. Why else would her husband let her do  something like this? Only some foolish misplaced passion could explain . . . <br>
              <br>
              At the sound of splitting wood and breaking glass Dayle  suddenly grabbed the chimney to steady herself. Then even though looking down  was the last thing she wanted to do, she peered over the edge to see what was  going on. Lotta's Chinese cook was kicking in a  second story window directly below them. Standing on a narrow balcony, at the  bottom of the trellis, his back braced against the rail, he made a couple more  thrusts with the heel of his boot, smashing the last of the window. Then  brushing broken glass aside with his arm, he grabbed the frame, boosted himself  to the windowsill, and dropped inside with an audible thud. That noise was  immediately followed by half-whimpered screams-women's voices. <br>
              <br>
        <em>Thank God, he found the right place</em>, Dayle  thought. She considered finding the right place, no small feat. She glanced  back across the rooftops and wasn't sure how anyone found anything in this  shantytown jumble. <br>
        <br>
              Lotta was now climbing down the trellis. Dayle gave one more quick glance  all around. Then she grasped the top of the latticework, took a deep breath,  and started down herself. She'd gone a third of the way when all hell broke  loose. <br>
              <br>
              It started with the sound of Chinese words mounting to shouts. Then the cook  hopped back out the open window, his hands thrown over his head, warding off  the blows of a younger, thinner Chinaman who jumped through the broken window  brandishing a broom. The broom froze mid-air, and the Chinese words died in a  single guttural when the younger Chinaman spotted Lotta. <br>
              <br>
              Absolutely unflappable, she stepped off the trellis, took time to correct  the tilt of her hat, and then told the younger Chinaman to put the broom down.  She spoke in English using the same tones with which she ordered her servants,  or Dayle. The younger Chinaman stared, his mouth  slightly open. From his expression, it looked as though he thought he'd  encountered a ghost. That illusion was not unreasonable. Lotta  was not only pale, she wore a layer of face whitener  over her cheeks, muting their color, which was the current style. Besides, he  probably never imagined jumping out his window to discover a  fashionably-dressed white woman standing on his balcony. <br>
              <br>
              Things hung suspended like that until the cook lowered his arms and said  something in Chinese. Then the other Chinaman dropped his broom and jumped back  through the window. A moment later footsteps could be heard on stairs inside,  going down, running away. Lotta put her hand out and  waited until the cook took it and helped her through the window like she was  being helped into a carriage. He followed, disappearing through the same  opening. <br>
              <br>
              Dayle felt a wave of relief. Maybe things were  going to work out fine, she thought, but her thought was premature. She made  the mistake of looking up. Above her, she saw three Chinese men bending over  the roof edge. Broad-shouldered thugs, they were obviously Tong. Seeing them,  she caught her breath, gave herself a moment to wonder where they'd come from,  and then decided it was time to get out of there. <br>
              <br>
              She dropped to the balcony below. Poorly attached, and already loosened by  the cook's kicks, it swayed under her and broke away from the wall. She grabbed  the windowsill and hung on, as the balcony gave way sending a dozen potted  herbs crashing to the street below. The vine, rooted in one of those pots, now  ripped away from the trellis, shredding its leaves as it fell. <br>
              <br>
              The first of the Tong thugs had started down. Now as the  trellis began to pull away with the vine, he reversed his climb, but not before  making a grab for Dayle. She swung away from  his grasp. <br>
              Those titillating stories of white women becoming captured sex slaves were  nothing but dark fantasies, Dayle knew. On the other  hand, anyone who crossed the Tong ran a real risk of &quot;disappearing&quot;  in a more permanent sense. It was said that when the Tong settled a score, they  didn't even leave a body. Or, if they wanted to send a message, the body would  turn up, neatly trussed, a tiny cord tied around the hands and feet and  neck-the dead eyes bulged. <br>
              <br>
              Newly motivated by that thought, she gathered strength, kicked against the  wall, and with a wiggle to free her skirts, she boosted herself through the  window, head-first, knocking the cook down at the same time. He'd been on his  way to the window to check the noise. Now together they rolled over the shards  of broken glass that had been scattered across the floor inside. <br>
              <br>
        &quot;What going on?&quot; he asked before she could get her equilibrium. <br>
        <br>
        &quot;Tong,&quot; was all she answered. <br>
        <br>
              Then the smell hit her. Only once before had she encountered that odor in  such overwhelming concentration. Three years ago in a Colorado mining camp, a couple of her male  colleagues had led her into a back room behind the town's only saloon. Dimly  lit like this, it had smelled the same. Back then, when her eyes adjusted to  the poor light, she saw that a woman had been painted on a wall framing an open  knothole between her legs. Through the slats in the wood, Dayle  saw a bucket hanging behind the hole. Half full from the night before, it was  the source of the smell, and the overpowering odor had been enough to make her  whole insides crawl. <br>
              <br>
              Back then, she was expected to act jovial. Her companions were already  indulging a bit of raw banter about the danger of getting splinters. She'd put  on a good act, adding a couple of comments, all the while struggling to keep  from throwing up. That in spite of the fact that she wasn't  much given to the frailties of her sex. <br>
              <br>
              Now the same smell pervaded everything in this tiny room. The smell, coupled  with the flash of energy that had surged through her when she met the Tong  outside, made her stomach roil once again. She sat up, put her hand to her  mouth, and swallowed hard as she checked to see if she was still in one piece.  Fortunately her skirts and long sleeves had protected her from the broken  glass. The cook wasn't as lucky. He was tying a handkerchief around a cut on  his forearm. <br>
              <br>
              Meanwhile Lotta had barely taken note of them or  the fact that there were Tong outside. She was kneeling beside two, very young,  very thin, Chinese girls, talking to them softly. One had a bruise on her  forehead. The other had her hair cropped short. Neither was more than twelve or  thirteen. Huddled and half hidden behind a crude wardrobe, they shivered like  puppies, and every time Lotta made a gesture toward  them, they whimpered. One was coughing. <br>
              <br>
              Dayle got to her feet. Like the painting in that  mining camp, Dayle knew these girls serviced up to  thirty men a night. But while the men in the Colorado camp had  affectionately named their knothole, &quot;Polly Pinetree.&quot;  Dayle doubted even the broom-brandishing pimp knew  these girl's names. Or cared. She quickly checked the  rest of the room. A pair of oil lamps burned near the door, giving weak light.  There was a rudimentary wash-stand, the wardrobe, and two beds. No chairs. A  curtain, patched from scraps, hung between the beds. The remains of the  smashed-in window were scattered across a bare floor. That was it. Evidently  the girls were expected to sit and sleep where they worked-on mattresses soaked  in that smell. <br>
              <br>
              Now Lotta was here to rescue them-a fact the girls  hadn't yet grasped. One had her hands over her ears. The other had pulled a  ragged blanket up to her eyes. Both refused Lotta's  crackers. <br>
              <br>
        &quot;What's the matter with them?&quot; Dayle  asked the cook. <br>
        <br>
              He'd also gotten to his feet and was now putting his glasses back on,  working the wires over his ears. &quot;They think White Devil-Woman take them to very bad place where she roast their feet and  feed them their own toes,&quot; he explained. &quot;That's what they've been  told happens to big-footed girls.&quot; <br>
              <br>
              Dayle was trying not to breath  too deeply. &quot;They really believe there is a worse place than this?&quot; <br>
              <br>
        &quot;Always worse place.&quot; <br>
        <br>
              Dayle shook her head. She'd heard that before. Any  complaint at the orphanage was always met with sweet assurances from the  Sisters that there were &quot;worse places.&quot; She didn't believe it then,  and she didn't believe it now. <br>
              <br>
              Meanwhile her eyes darted around the room assessing the situation. She didn't like  what she saw. With the balcony gone, there was only one way out. No time for  crackers or coax. <br>
              <br>
        &quot;We have to go, now,&quot; she told Lotta as  she pushed past her and grabbed the girl with the short-cropped hair. The girl  gave a startled cry and struggled as Dayle swung her  under her arm. Dayle wasn't big, but she was strong  for a woman and the girl didn't weight eighty pounds. She had little trouble  hanging onto her. As she headed for the door, she saw the Chinese cook grab the  other girl. He was having more trouble. His girl had gotten her elbow in his  face. <br>
        <br>
              Lotta, still down on one knee, sputtered,  &quot;Don't frighten them. Oh, please, don't frighten them. They need to know  we're their friends-that we've come to save  them.&quot; <br>
              <br>
              Dayle wanted to groan. Fear was likely the only  thing these girls understood. That's what annoyed her about rich women like Lotta who amused themselves &quot;doing good.&quot;  She didn't fault the charitable instinct, but too often it was misplaced. It  was as if privileged women, like Lotta, had been the  center of attention for so long they had a warped sense of reality. <br>
              <br>
              On the landing outside the room, Dayle paused long  enough to note the three Tong kicking down the door below. She turned the other  direction and followed the hallway left. Pushing through a curtained doorway,  she suddenly found herself stepping over rows of Chinese men sleeping on mats.  Some kind of cheap boarding house, she guessed. <br>
              <br>
              Too groggy to give chase, the men barely blinked awake as she made her way  across the room, trailing the cook and Lotta. The  next room was the same, more sleeping miners. It didn't help that the girl  under her arm never quit struggling. But she noticed the cook's girl had  stopped flailing. She was mostly coughing. Past the second room, Dayle came upon another landing and another staircase. She  took the stairs downward thinking that would lead to the street outside. She'd  had enough of rooftops and trellises. <br>
              <br>
              No such luck. At the bottom of the stairs, there was no door, just a  darkened hallway branching this way and that with rows  of curtained rooms off each hall. Reaching a dead end and not knowing where  else to go, Dayle pushed through the curtains  covering one of the doorways and found herself in a tiny, unventilated cubicle  lit only with the dim glow of a lamp hanging from the ceiling. The smell of  opium hung on the air. Last evening's occupant hadn't been gone long, she  guessed. <br>
              The cook crowded in beside her. <br>
              <br>
              Lotta caught up a moment later. She entered the  room, her breath quick, her face flushed despite the whitener on her cheeks,  and asked, &quot;What is this place?&quot; <br>
              <br>
              Dayle snapped the curtain shut and ignored the  question. She was not in a mood for making explanations. The girl under her arm  took all her strength, and she could hear the Tong coming down the hall, behind  them, pushing the curtains aside one after another, looking  for them. <br>
              <br>
              The cook had clapped one hand over his girl's mouth, quieting her coughs.  With his elbow, he was feeling along the walls, looking for an opening. Dayle didn't put much hope in that. She was doing a mental  inventory of the possible options. When the Tong arrived, she could give them  the girls, dare them to harm Garrick Bateman's wife,  or pull the gun from her pocket and forget long explanations. <br>
              She was feeling for her gun, when the cook pushed on a particular part of  the wall, and it slid away revealing an opening. Still holding the coughing  girl, he helped Lotta through and then quickly  followed himself. Dayle had to bend almost in half to  get through, dragging her girl with her, but she was glad for this new  possibility. She'd never been particularly good with a gun. <br>
              <br>
              On the other side of the wall, she followed the cook quietly down a  narrower, even darker hallway that seemed to be some kind of service area. She  had no idea where they were and was beginning to think of Chinatown  as an endless labyrinth. <br>
              <br>
              In that stillness, she heard the Tong push back the sliding panel. A few  moments later, she heard them feeling their way down the same hallway behind  her. She was bringing up the rear now and kept imagining them drawing closer  and closer. The sound of her own heart pounded in her ears until it was enough  to confuse. Sometimes she couldn't tell her own sounds from the noise of her  followers. That made them seem terribly immediate. She  expected any moment for a hand to reach out and touch her. <br>
              <br>
              Then the cook paused at a juncture of hallways. Still holding the girl, Dayle paused behind him and waited while he checked first  one direction and then the other. Sounds clarified. With relief, she determined  that the three Tong following them had to be farther back than she'd thought,  maybe even lost, but still coming, still looking for them. Her own breath was  short. She hoped the cook wasn't lost. She wanted out of here. Out of Chinatown. Out of this assignment. <br>
              <br>
              Mostly she wanted out of this assignment. There were two kinds of  detectives-those who did jobs and those who solved cases. She liked to think  she solved cases. She made it a habit to think and notice, always looking for  the larger forces behind the surface, but the only thing to understand here was  why Lotta's husband was indulging her charity and  that was a domestic matter. This was a job, a babysitting job. Nothing more. <br>
              <br>
              Meanwhile the cook made up his mind. He turned left, and a few moments  later, found a door to the outside. Dayle gave a  glance backward and was relieved to see the three Tong thugs hadn't rounded the  last corner. She had no interest in lingering. She sprinted  the last few steps, still carrying the girl. <br>
              Momentarily blinded by the outdoor brightness, she squinted as she made a  quick survey of her surroundings. She was standing in a narrow street between a  couple of noodle shops, a laundry, and an herb store with a sign above the door  in English. It read: <br>
              <br>
        <strong>Lee Me Him Drugstore</strong> <br>
        <strong>Broken Arm and Leg Remedies</strong> <br>
        <strong>Medicine All Kind Very Good.</strong> <br>
        <br>
              That had to mean the proprietor expected trade with white patrons and was  therefore located near the edge of Chinatown,  but Dayle had lost her sense of direction. She had no  idea which way to go. <br>
              She set the girl down. Slight as she was, she'd become heavy. The girl  looked up at Dayle, hesitated once, then took Dayle's hand. The cook  still carried his girl like a sack of flour, but he shifted her from one hip to  the other while waiting for Lotta to straighten her  hat again. <br>
              <br>
              Dayle swore under her breath. This was no place to  be worrying about the angle of one's hat, and as if to prove that point, two  things happened. The three Tong thugs burst through the doorway behind them  just as thirty or more Chinese miners rounded the street corner ahead of them.  Having finished the night shift, the miners were carrying their lunch pails and  tools. Their clothes were blackened with coal dust. Their faces were still  bloodless from the cumulative lack of oxygen down in the mines. That pallor was  accented by the pale early morning light. <br>
              <br>
              There was a moment of mutual astonishment. <br>
              <br>
              From the miners' point of view, Dayle imagined,  this didn't look good-white women stealing Chinese girls. The cook must have  made the same assessment. He started slowly backing away, keeping his eyes on  the miners as he moved, pulling the others with him. Dayle swallowed dry spit. <br>
              She gave a quick glance in the direction of the three thugs. Like the cook,  they hung back seemingly waiting to see how the miners would react, but she  expected them to do something-shout an explanation, an order. Everyone knew the  Tong controlled Chinatown. Surely they'd make  the miners understand that they had this situation under control. The Tong kept  all situations in Chinatown under control.  That's what made them the Tong-feared, respected, always  obeyed. <br>
              That, however, was not what happened. <br>
              <br>
              One miner raised a fist, and a shout went up from all the rest. The  immediate effect on the cook was remarkable. He dropped the girl and grabbed Lotta by the arm, pulling her along as he ran back toward  the alley with the Tong. Too surprised to protest, Lotta  merely grabbed for her hat. <br>
              That left Dayle and the two girls standing in the  middle of the street. Abandoning the girls made sense. Nobody wanted the  trouble they represented, not the Pinkertons, not Lotta's husband. Dayle was  supposed to make sure there wasn't trouble because of this charity Mrs. Bateman  had decided to undertake. That was the paramount part of her orders, and she  was a Pinkerton-practical, not sentimental, but she couldn't do it. The smell  of that room still clung to her clothes and against all better judgment, Dayle grabbed an arm of  each girl and took off running after the cook. <br>
              <br>
              The miners, now swinging their tools, gave noisy pursuit shouting and  banging on their lunch buckets as they came. Pigs stopped rooting in the  gutters; cats yowled. Doors and windows flew open. The ruckus rivaled a fire  alarm. <br>
              <br>
              Dayle was not going to outrun them. That was  immediately obvious. Although the girls no longer whimpered or resisted, the  one with the cough was nearly doubled over trying to get her breath. She kept  stumbling. Once she nearly tripped Dayle. <br>
              <br>
              Still Dayle expected the Tong to do something.  Stop this. Nothing happened in Chinatown  without Tong approval. Everyone knew that. The miners behind her were supposed  to know that. <br>
              But when she entered the alley, she saw the Tong thugs take to their own  heels scattering in three different directions. She couldn't have been more  astonished if she'd seen ghosts take flight. The Tong running from their own  Chinese miners! What did that mean? But then she didn't have time to puzzle the  implications. At the moment, it meant she couldn't expect any help. W<em>hat was  she going to do?</em> <br>
              <br>
              Then turning a corner, she spotted a coal chute leading into the basement  under one of the laundries. With her pursuers momentarily out of sight, she  whistled for the cook while she shoved the first girl down the chute. Surprised,  she uttered a tiny squeal as she went down. The girl with the short hair hopped  on the chute all by herself and rode it to the bottom. Dayle  followed. <br>
              <br>
              A moment later Lotta arrived at the bottom with  her skirts over her head. One of her fancy petticoats had snagged the top of  the chute and turned her clothes topsy-turvy before ripping completely off. The  cook freed it as he came down. Then he pulled the chute away from the window  and snapped it shut. <br>
              <br>
              That done, he assumed his usual eyes-down, over-polite  manner. Bowing, he presented Lotta with the  torn petticoat while saying, &quot;So sorry.&quot; Lotta  took the underskirt, and with a little flutter of embarrassed  gestures, she rolled it up quickly and tucked it in her pocketbag. <br>
              <br>
              Meanwhile one glance told Dayle they were trapped.  The only way out of this place was that coal chute. If the miners,  discovered them . . . <br>
              <br>
              Then as if fulfilling her worst fears, the miners who'd passed by once, came  back. They could be heard just outside the window, milling around, making angry  noises. Everyone tensed. The cook clamped a hand over the mouth of the girl who  kept coughing, and they all backed against the wall directly under the window  and huddled there, out of sight. <br>
              <br>
              Dayle wasn't sure of the options. She felt for her  gun. <br>
              <br>
              The cook quietly worked a board off the side of the chute and grasped it  like a club. She wasn't sure what a few bullets and a board would do against a  mob of miners. Dayle searched for an alternative, a  crawl space, a trap door. <br>
              <br>
              The room was no more than an over-sized coal bin where fuel to heat water  for the laundry tubs upstairs was stored. Medium-sized lumps of the black stuff  filled a third of the space, making the low ceiling even lower. They were all  bent over, even the girls. Worse the coal crunched under them every time they  shifted their weight, making noise-too much noise. It was awkward enough to be  paralyzing, bent and huddled like that, trying not to move. The chill of the  room quickly embraced them, solidifying that paralysis. <br>
              <br>
              Meanwhile the miners outside milled, their voices grumbling louder as their  confusion mounted. Half an hour ticked by. <br>
              <br>
              Dayle hated waiting. To her inactivity was like  conscious death. Idleness allowed too many thoughts to circle too many worries.  And no matter how she worried this one, it kept getting curiouser  and curiouser. The idea that Garrick  Bateman would &quot;arrange&quot; to let his wife rescue Chinese prostitutes  because that was a currently fashionable charity was odd enough to make no  sense. Surely the man understood that no one really ever made an  &quot;arrangement&quot; with the Tong. <br>
              <br>
              In Wyoming  it was said that only electrical storms, blizzards, and other acts of God dared  defy Lotta's husband. It was said the Territorial  Governor checked with him daily. She considered that maybe the man was full of  himself enough to think he could tell the Tong what to do as well. If he did,  he was a fool. <br>
              <br>
              Dayle glanced at Lotta.  She'd taken off her jacket and was offering it to one of the girls who was visibly shivering. The girl only huddled closer to the  cook and refused the coat. That obviously disappointed Lotta.  Dayle watched how her long fingers and smooth hands  fussed with the buttons as she put the jacket back on herself. No question, she  was a fine-boned, pretty woman, but pretty women were not all that rare. What  was it about her that had inspired such foolishness in a man mainly known for  his ruthlessness? <br>
              <br>
              Dayle looked again. Lotta  was now unbuttoning the buttons on her jacket that she'd just done up. Her  fingers trembled. She paused, seemed confused, started  buttoning up again. Worse, Dayle noticed Lotta's breathing had become irregular and even in dim  light, the contortion of her face was obvious. <br>
              <br>
              The cook saw too. He took charge of both Chinese girls while Dayle slid closer to Lotta.  &quot;Where are your smelling salts?&quot; she whispered in the woman's ear. <br>
              <br>
              Her head jerked once, a wide unnatural movement. No other response. <br>
              <br>
              Smelling salts were wrong for silent hysterics. Standard treatment was to  grab the woman, shake her, slap her, if necessary,  until she finally snapped out of it, usually by releasing her hysterics into a  wild bout of screaming. Personally, Dayle had no use  for female hysterics, silent or otherwise. She couldn't believe this. Lotta had been leaping from building to building not half  an hour ago. It had gotten quieter outside, but if Lotta  started screaming . . . <br>
              <br>
              Dayle was trying to remember if she'd ever heard  of someone coming out of silent hysterics without screaming. Dayle was afraid to touch Lotta  for the fear that would set her off. She did the only thing she could do. She  leaned close and whispered softly. Talked. She said  anything that came to her mind. Mostly she told Lotta  praising things, reassuring things. She explained several times that they  needed to stay quiet because they'd almost made it. They'd almost gotten those  girls out of Chinatown. All she had to do was  to stay calm a little bit longer. <br>
              <br>
              Ten minutes of that non-stop whispering and Dayle's  throat was beginning to feel raw, and she was about to give up when Lotta suddenly straightened and spoke one word. <br>
              <br>
        &quot;Truth?&quot;<br>
        <br>
        &ldquo;Truth?&quot; Lotta said  again. She whispered softly enough only Dayle could  hear. <br>
        <br>
        <em>Truth?</em>Dayle  thought and couldn't connect any meaning to the word that fit their current  circumstances. At least Lotta hadn't screamed it, and  Dayle noticed that the woman's hands had paused. They  were no longer working her buttons up and down, up and down. <br>
        <br>
        &quot;Truth?&quot; Lotta  said once more. This time there was an insistence to her whisper that couldn't  be ignored. She expected a response. <br>
        <br>
        <em>Truth?</em> Dayle  thought again. Then it came to her. &quot;Truth&quot; was a  game young girls played in the dark. If you agreed to &quot;truth,&quot;  you agreed to answer the next question with brutal honesty. <br>
        <br>
              She glanced sideways at Lotta wondering what this  was all about. &quot;Truth,&quot; Dayle then  answered, agreeing to the game. <br>
              <br>
        &quot;Do you like being a Lady Pinkerton?&quot; the other woman asked with a  controlled calmness Dayle found strange. At the same  time, she gave a quick glance at the cook. No one was supposed to know she was  a Pinkerton except Lotta, her husband, and Dayle's boss. She doubted the cook had heard. He was  listening just below the window. With reason. There  were footsteps outside, coming closer. <br>
        <br>
        &quot;Do you like being a Lady Pinkerton?&quot; Lotta  suddenly insisted, her whisper becoming harsh. </p>

          <p><strong>Dayle Dobson </strong>grew up in an orphanage. Once she wanted a family, more than anything, but now she believes that love is a woman's worst option. She's a Lady Pinkerton Detective and damned good at her job.</p>
          <p><strong>Harry Bryant</strong> can't get Dayle out of his mind or off his trail. He's has a scheme to stop the flow of coal fueling America's trains, meaning he could dictate terms to the President of the United States. No woman gets in the way of that.</p>
          <p><strong>Allan Pinkerton</strong> invented the notion of a &quot;private eye.&quot; Now aging, he'll do anything to protect his reputation, including betray one of is own.</p>
          <p><strong>Garrick Bateman </strong>is the most powerful man in Wyoming as long as  coal is mined and  trains run--both dirty businesses. He hired Dayle to keep his wife, Lotta, from learning too much about his affairs.</p>
          <p><strong>Lotta Bateman </strong>is the high-society Bostonian bride  Garrick brought to Wyoming to give himself a little class. She has unwittingly  taken up the one charity that could destroy him.</p>
          <p><strong>Mary Stillman Davies</strong>  set up an underground railroad to rescue Chinese women being held as slaves in Chinatown brothels. Her &quot;good works&quot; could cost Lotta her life and Dayle her job. She doesn't care. Her cause comes first.</p>
                <a target="_blank" href="https://www.amazon.com/LADY-PINKERTON-Rustic-Romantic-Fictional/dp/0671519115/ref=sr_1_1?ie=UTF8&qid=1520097267&sr=8-1&keywords=the+lady+pinkerton+gets+her+man"><img src="./img/pinkcov.gif"></a>
                <h3><a href="#" ng-click="$ctrl.scrollPinkToTop()">Back to Top</a></h3>
        </div>




              <div id="pinkertonSidebar">
                <div class="bookGraphic">
                  <a target="_blank" href="https://www.amazon.com/LADY-PINKERTON-Rustic-Romantic-Fictional/dp/0671519115/ref=sr_1_1?ie=UTF8&qid=1520097267&sr=8-1&keywords=the+lady+pinkerton+gets+her+man"><img src="./img/pinkcov.gif"></a>
                  <p><a href="#" ng-click="$ctrl.navigatePink()">About</a></p>
                  <p><a href="#" ng-click="$ctrl.navigatePinkEssay()">More Info</a></p><br>
                </div>
                <div id="pinkertonBlurbs">
                  <p class="bookBlurb">When Jerrie Hurd writes a novel about real women of the Old West, you just  know it won't fit neatly into a mold. <br>
                      <br>
                    In her books, might isn't always right, the guy doesn't always get the girl  (or vice versa) and endings often reflect real life: They're ambiguous. <br>
                <br>
                    In her first two books, <em>Miss Ellie's Purple Sage Saloon</em> and  <em>Kate Burke Shoots the Old West,</em> her women characters were strong,  independent and far from perfect. Hurd doesn't detour much from that depiction  in her newest novel, &quot;The Lady Pinkerton Gets Her Man.&quot; <br>
                <br>
                    The Lady Pinkerton in question is Dayle Dobson,  who grew up in an orphanage and made a life for herself as a woman detective by  being tough. She smokes, drinks, bets on cock fights and (one suspects) hasn't  fought too hard to retain her &quot;virtue.&quot; <br>
                    She likes the freedom of being a Pinkerton, but sometimes gets herself into  trouble with her outspoken manner. <br>
                <br>
                    The book opens with a tense scene where she and two other women are rescuing  two young, reportedly reluctant prostitutes from the Tong, who rule the  Chinatown section of White Springs,   Wyo. <br>
                    But there are bigger goings-on in this town than sex slavery. The Anarchists  are purportedly trying to get miners to strike and shut down the nation's coal  supply, and thus its railroads. <br>
                <br>
                    Before it's over, Allan Pinkerton, himself, painted as an aging womanizer,  comes to White Springs. <br>
                    Dayle finds herself besotted by an actor who she  thinks is the leader of the Anarchists. <br>
                    And a rip-roaring getaway scene at the end is the stuff of which classic  Westerns are made. <br>
                <br>
                    Hurd skillfully paints a verbal portrait of a woman torn between her past  and her future, between reality and romance, between what's legal and what's  humane. <br>
                    Hurd is adept at creating a sense of place. In that opening scene, she  describes the Chinatown Dayle Dobson sees from her  rooftop perch: <br>
                <br>
                &quot;The scene was almost as dislocating as the height. In a quieter  moment, she might have entertained the romantic notion that she'd been whisked  away to some Cantonese village in old Cathay,  complete with the smell of herb shops and opium dens. She knew better. This was  the Chinatown of White Springs, Wyoming-a slaphappy collection of makeshift  shacks, lining a maze of narrow alleyways and tiny garden plots. The  structures, many of them two stories, had been thrown together from packing  crates and black building paper. The roofs had been tiled with flattened tin  cans.&quot; <br>
                <br>
                    Such detail takes research . . .
                    Her protagonist doesn't represent a romantic attempt at revisionist history.  There were Lady Pinkertons. The West drew many women  whose occupations or behavior would not have been accepted in the East. <br>
                    Hurd is drawn to those women and her stories about them, though fictional,  represent a neglected cast of characters who helped create the Old West.
                <br>
                    --Linda DuVal, Colorado Springs, <em>Gazette Telegraph</em></p>

                </div>



                <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
              </div>
    </div>


</div>
