<div class="container-fluid">




  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Just Above Bone</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current: <em>Just Above Bone</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
                <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

                <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
                <!-- <a class="nav-item nav-link" href="#">Books</a> -->
            </tr>
          </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p ng-click="$ctrl.surpisedbystory()">About the Memoir</p>
            <p ng-click="$ctrl.navigateIntroduction()">Introduction</p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
            <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p><span class="sr-only">Future Projects</span></p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div id="futureProjectsContent" class="col-8">
        <div id="glassEye">
          <img src="./img/glasseye2.jpg">
        </div>
        <div id="futureProjectsTextBox">

          <h2>Looking Ahead to Future Projects</h2>
          <h5>Novels:</h5>
          <p>Jerrie Hurd is currently doing research for a series of novels that will feature a woman sheriff in a large rural county in the American West. One such county in Idaho is larger than the state of Massachusetts and has fewer than 60,000 residents. Sheriffs in these kinds of rural areas have all the problems of other law enforcement officials plus some unique to their jurisdictions such as modern-day cattle rustling, water theft, and grave robbing of prehistoric sites.<br><br>

          As part of her research, she flew with a sheriff who patrols by air. During the flight, they happened on some wealthy Japanese poachers hunting big horn sheep. This resulted in a few moments of unexpected excitement. <br><br>

          The first of these novels is tentatively titled <em>Painted Horses.</em></p>
          <br>
          <h5>Nonfiction:</h5>
          <p>Hurd is also outlining another nonfiction book about stories and the power of stories in everyday life. She wants to interview professional storytellers from various cultures about why they tell stories. What stories they tell. And what difference they think telling stories makes. This idea is still being formed and will likely change as it develops.<br>
          A tentative title: <em>One Story, Two Story, Three Story, More</em></p><br>
          <h5>Short Stories:</h5>
          <p>And she will be sharing more short stories on Amazon soon.</p>
        </div>








      </div>

    </div>


</div>
