<div class="container-fluid">
  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="pinkerton">Pinkerton</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div>
        <div class="navbar-nav" id="menuBar">
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateLanding()">Welcome</a>
          <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a>
          <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateMemoir()">Current Project</a>
          <a class="nav-item nav-link" href="#">Short Stories</a>
          <a class="nav-item nav-link" href="#">Books</a>

        </div>

      </div>

    </nav>
  </div>
    <div class="row" id="theRow">

      <div id="pinkertonContent" class="col-8">
        <br>
        <h3>Talk about conflicting demands!</h3><br>
        <div id="pinkertonContentParagraphs">
          <p>In the 1880s there were real Lady Pinkerton Detectives--emphasis  on &ldquo;lady.&rdquo; They were not to disgrace the <a href="http://en.wikipedia.org/wiki/Pinkerton_National_Detective_Agency" target="_blank">Pinkerton Agency</a> by dressing  &ldquo;unseemly&rdquo; or doing anything that might reflect badly on the company. Never  mind that they were also expected to come up with results any way they could.</p>
          <h3>And a moral dilemma! </h3><br><br><br><br><br><br><br>
          <p>The Pinkertons worked for anyone  who could afford to hire them. In the American West that was mainly the  railroads and the mine owners. For that reason, Pinkertons  often got involved strike breaking and land swindles. Work for the agency long enough  and you were sure to find yourself on the wrong side. Then what? Sewing and  school teaching didn&rsquo;t pay and lacked adventure.</p>
          <h3>Add death-defying daring . . .</h3><br><br><br><br><br><br><br>
          <p>In the 1880s there were real women missionaries who were  willing to risk their lives to save Chinese girls from slavery in places like Rock Springs, Wyoming. </p>
          <h3>And righteous condemnation . . .</h3><br><br><br><br><br><br><br>
          <p>Of course,  women missionaries had no use for Lady Pinkertons, whom they considered little better than the  girl-prostitutes they were saving.</p>
          <p>Now throw the Pinkerton and the missionary together. Make their lives depend on each  other and see what happens.</p>


        </div>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/We_never_sleep.jpg/180px-We_never_sleep.jpg" href="/wiki/Image:We_never_sleep.jpg" target="_blank">
        <h1>Interesting Tidbits:</h1>
        <ul>

          <li><p><a href="http://www.sfhistoryencyclopedia.com/articles/c/cameronDonaldina.html" target="_blank">Donaldina Cameron</a> devoted her life to saving Chinese girls from &quot;abusive circumstances.&quot; She worked  in San Francisco, but there were other less famous women, most Presbyterian missionaries, who also took up the cause.<br>
              <br>
              The<a href="http://en.wikipedia.org/wiki/Rock_Springs_massacre" target="_blank"> massacre of Chinese miners </a>depicted in this novel really happened September 2, 1885 in Rock Springs, Wyoming.<br />
            <br />
          </p>
          <p>The California census of 1852 listed only seven Chinese women in the state. There were more. Most had been smuggled in as prostitutes, many of them slaves--one of the most widely-known secrets of the American West. Check out the movie<a href="http://www.imdb.com/title/tt0100774/" target="_blank"> A Thousand Pieces of Gold.</a><br>
            <br>
            <a href="http://en.wikipedia.org/wiki/Allan_Pinkerton" target="_blank">Allan Pinkerton,</a> founder of the Pinkerton Agency, wrote several detective novels that were bestsellers in his day. These novels were supposedly based on famouse cases that his agency solved, but  took liberal dramatic license. <br>
            <br>
          &quot;Private eye&quot; comes from the old Pinkerton logo with the eye that never sleeps.<br>
          <br>
          <a href="http://en.wikipedia.org/wiki/Kate_Warne" target="_blank">Kate Warne</a>, a lady Pinkerton, is credited with saving Abraham Lincoln's life. There was a plot to assassinate the newly-elected Lincoln before he reached Washington, D.C. It as Kate who discovered the plot. Without her vigilance, Abraham Lincoln might never have never been inaugurated, never become President. Think how that might have changed history.</p></li>
        </ul><br><br>


      </div>
      <div id="pinkertonSidebar">
        <div class="bookGraphic">
          <a target="_blank" href="https://www.amazon.com/LADY-PINKERTON-Rustic-Romantic-Fictional/dp/0671519115/ref=sr_1_1?ie=UTF8&qid=1520097267&sr=8-1&keywords=the+lady+pinkerton+gets+her+man"><img src="./img/pinkcov.gif"></a>
          <p><a href="#" ng-click="$ctrl.navigatePinkOpeningPages()">Opening Pages</a></p>
          <p><a href="#" ng-click="$ctrl.navigatePinkEssay()">More Info</a></p><br>
        </div>
        <div id="pinkertonBlurbs">
          <p class="bookBlurb">When Jerrie Hurd writes a novel about real women of the Old West, you just  know it won't fit neatly into a mold. <br>
              <br>
            In her books, might isn't always right, the guy doesn't always get the girl  (or vice versa) and endings often reflect real life: They're ambiguous. <br>
        <br>
            In her first two books, <em>Miss Ellie's Purple Sage Saloon</em> and  <em>Kate Burke Shoots the Old West,</em> her women characters were strong,  independent and far from perfect. Hurd doesn't detour much from that depiction  in her newest novel, &quot;The Lady Pinkerton Gets Her Man.&quot; <br>
        <br>
            The Lady Pinkerton in question is Dayle Dobson,  who grew up in an orphanage and made a life for herself as a woman detective by  being tough. She smokes, drinks, bets on cock fights and (one suspects) hasn't  fought too hard to retain her &quot;virtue.&quot; <br>
            She likes the freedom of being a Pinkerton, but sometimes gets herself into  trouble with her outspoken manner. <br />
        <br>
            The book opens with a tense scene where she and two other women are rescuing  two young, reportedly reluctant prostitutes from the Tong, who rule the  Chinatown section of White Springs,   Wyo. <br>
            But there are bigger goings-on in this town than sex slavery. The Anarchists  are purportedly trying to get miners to strike and shut down the nation's coal  supply, and thus its railroads. <br />
        <br>
            Before it's over, Allan Pinkerton, himself, painted as an aging womanizer,  comes to White Springs. <br>
            Dayle finds herself besotted by an actor who she  thinks is the leader of the Anarchists. <br>
            And a rip-roaring getaway scene at the end is the stuff of which classic  Westerns are made. <br>
        <br>
            Hurd skillfully paints a verbal portrait of a woman torn between her past  and her future, between reality and romance, between what's legal and what's  humane. <br>
            Hurd is adept at creating a sense of place. In that opening scene, she  describes the Chinatown Dayle Dobson sees from her  rooftop perch: <br>
        <br>
        &quot;The scene was almost as dislocating as the height. In a quieter  moment, she might have entertained the romantic notion that she'd been whisked  away to some Cantonese village in old Cathay,  complete with the smell of herb shops and opium dens. She knew better. This was  the Chinatown of White Springs, Wyoming-a slaphappy collection of makeshift  shacks, lining a maze of narrow alleyways and tiny garden plots. The  structures, many of them two stories, had been thrown together from packing  crates and black building paper. The roofs had been tiled with flattened tin  cans.&quot; <br>
        <br>
            Such detail takes research . . .
            Her protagonist doesn't represent a romantic attempt at revisionist history.  There were Lady Pinkertons. The West drew many women  whose occupations or behavior would not have been accepted in the East. <br>
            Hurd is drawn to those women and her stories about them, though fictional,  represent a neglected cast of characters who helped create the Old West.
        <br>
            --Linda DuVal, Colorado Springs, <em>Gazette Telegraph</em></p>

        </div>



        <p>©2008-2018 Jerrie Hurd (all text, photos, design)</p>
      </div>
    </div>


</div>
