<div id="memoirContainer" class="container-fluid">






  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Just Above Bone</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current: <em>Just Above Bone</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
                <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

                <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
                <!-- <a class="nav-item nav-link" href="#">Books</a> -->
            </tr>
          </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p ng-click="$ctrl.navigateToSurprise()">About the Memoir</p>
            <p><span class="sr-only">Introduction</span></p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
            <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div id="memoirContent" class="col-8">
        <!-- <img id="landingPic" src="./img/website.jpg"> -->

        <!-- <a id="aboveBoneNav" href="#"><h3><em></em></h3></a> -->

        <img src="./img/nicole3sm.jpg">
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->
        <br><br><br><br><br><br><br><br><br>
        <div id="currentBlurb">
          <h3><b>Introduction</b></h3>
          <p class="currentBlurbParagraph">&nbsp;&nbsp;&nbsp;Send off a tube of saliva. Back comes an analysis of who you are according to your genetic DNA. Can produce surprises.<br><br>
          Yes, I did it. But I was more surprised by the results of my cultural DNA. I’m talking about the stories—the folkloric history—that my family handed down to me. Stories teach us how the world works, and, like it or not, those same-old, same-old family stories become our mantras—what we tell ourselves about who we think we are. Truth: most of us expect our lives to turn out like the stories we’ve heard. And when that doesn’t happen . . .<br><br>
          Here’s the thing: I can be proactive about a predisposition to certain diseases. Likewise, I can shape my family stories to fit current circumstances, but only if I pay attention to the hold those stories have on me. That little-known truth all but slapped me in the face one day.<br><br>
          I was critiquing manuscripts at the end of a three-day writers’ conference. Mid-afternoon, I sat down with a thirty-something writer who was working on a novel about three generations of women—mothers and daughters—who seemed to do nothing but increase each other’s misery. It was a well-written, if melancholy, book that readers, I suspected, would find a downer, so I asked the author, “Why do you want to write this story?”<br><br>
          That’s a deceptively simple question I usually have to ask several times before getting to the core. This writer was the exception. Without hesitation, she answered, “I wanted to understand why all the women in my family marry men we don’t love. I mean, God forbid one of us should actually break the cycle.”<br><br>
          I was startled, not because she was so clear-eyed about her central narrative, not because of the bitterness she’d expressed, and not because I didn’t believe her. Families run these kinds of patterns all the time. I was startled because I hadn’t realized that the book was autobiographical. And—even more important—I’d recognized similarities between the generations of her family and my own. Actually, I thought the similarities were nearly universal. Except for the particulars, she could have been writing about almost any set of mothers and daughters, mine included, with one glaring exception. In my family, we tell great love stories.<br><br>
          The author shook her head and continued. She felt trapped. Her family had a pattern of failed relationships. So why had she expected her marriage to be different? “It’s like they gave me a script. I can follow the family script or struggle against it. Either way, the script owns me.”<br><br>
          “Owns you?”<br><br>
          She shot me an incredulous glance. “Isn’t it obvious? Following the family script means an incredibly strong mother-daughter bond because the women in my family are forever commiserating with one another about our failed loves. We never let anyone else in. On the other hand, if I took a chance on real love, I’d lose the support of my family, who got me through one bad marriage already. Given my family’s background, how likely is it that I can recognize real love anyway?” She shrugged. “How do you make some kind of Disneyfied happy ending out of that?”<br><br>
          I’m not used to being challenged quite so directly. Worse, I’m feeling personally uncomfortable. The more she talks, the more I wonder about my own family and our love stories. Is that also a family script? If so, how have those stories—that family pattern—affected my life? At the same time, I’m mentally resisting the idea. Nobody takes family stories seriously. I don’t. Or haven’t. What’s more, I don’t have time to investigate this. I have other plans, other projects. And yet, another part of me is screaming, “Pay attention!”<br><br><br>

          The importance of family stories is best explained in Aesop terms. Take the famous Aesop fable of the ants and the grasshopper. The ants work all summer putting food away while the grasshopper fiddles. When winter comes, the hungry grasshopper knocks on the ants’ door looking for dinner. The usual moral is something like “Don’t fiddle the summer away.” Ok, fine, but who keeps the ants from dying of boredom—all winter long—if not that fiddling grasshopper?<br><br>
	        Here’s the thing: If my family gave me an ant’s point of view, likely I will have to make a big shift to appreciate silly, seemingly slothful grasshoppers. On the other hand, if I come from a grasshopper family, likely I’ve learned to look down on steadier, plodding lifestyles that are just not cool. Now, think what happens when a grasshopper marries an ant, or an ant hires a grasshopper. This is serious stuff—like it or not.<br><br><br>

          Before our scheduled hour was up, I explained to the author that my family tells love stories—something very different from the stories in her novel. I wanted to her to understand that, at some level, families and individuals choose how to tell their stories, that she could change her novel and her life if she wanted to—but she shook her head. Because her story is autobiographical, she felt constrained by real events.<br><br><br>

          Cultural DNA. Maybe it goes without saying that who we are cannot be separated from where we come from. I can act all grown-up and tell myself that I’m my own person, but, like a reflex, when I cook, I cook the way my mother cooked. When I open my mouth to talk politics, I sound like my father. When I’m shopping for clothes, pink is not a possibility: my grandmother hated pink. Those are the little things. The big thing is my family’s love stories. I’ve always considered myself luckier than most because my family tells great love stories, but when I stop to think about it, I immediately recognize the hazard: listen long enough to those stories and you can spend a lifetime waiting to be swept off your feet.<br><br>
          And the more I think about it, the more questions I have. It’s no small undertaking to investigate one’s history. There are aunts, uncles, cousins, and other kin to be interviewed, documents to be examined. And who knows what I might find—good or bad. Do I really want this? Like the fairy folk, when it comes to family stories, the accepted wisdom is to leave them alone. Warnings aside, I tell myself that it will be worth poking around a bit. At minimum, I hope to stop running patterns I don’t understand, like never wearing pink. Mostly, however, I want to understand those love stories. I’m pretty sure my family’s track record in the relationship department is no better than most. So, what do we gain by telling ourselves great love stories?<br><br><br>

	        A friend who is a professional genealogist immediately poo-pooed my project. “They’re wrong,” he tells me. “First rule of genealogy is to disprove the family stories.”  When I question his attitude, he admits that family stories are typically the reason people get interested in their history and that he is mostly referring to the classically untrue stories, like thinking you are related to an Indian princess. “American Indians didn’t have princesses,” he explains, in case I hadn’t gotten it.<br><br>
          He hadn’t gotten it.<br><br>
          I’m not interested in dates and documents. I’m interested in why a family might claim an Indian princess as part of their heritage. How does something like that become part of the history they tell themselves? In what way does thinking they are related to an Indian princess form their identity? Stories don’t have to be right to be powerful. They just need to be repeated and believed.<br><br>
          I didn’t get it, either.<br><br>
          I am repeatedly surprised by the obvious. Clearly, I haven’t been listening. I’ve absorbed stories without ever asking: Why that story? Why that story told that way? When you begin to ask these questions all kinds of interesting, startling, seemingly hidden, things come into focus. I mean, whoa!<br><br>
	        I now believe that knowing my family’s storied history may be as important as knowing my family’s medical history. And I’m not alone in that belief. It has been documented that people who experience a genealogical void often have serious identity problems. Hence the drive for adopted children to find their “real” parents and for African Americans, who have a slavery background, to make a genetic connection to a particular part of the African continent.<br><br>
	        I’m lucky. No genealogical void. I have a rich and colorful background—plenty of stories, more than enough surprises, and lots of dirt. Doesn’t every family have at least one pirate or Mormon polygamist in their past? The trick is deciding the takeaway. Dirt is where things get muddy. It’s also where things grow. Before I finish my quest, I will travel from a ranch in Idaho to an island off the coast of Denmark. I will interview lots and lots of people—family members, experts, and friends. I will uncover stories I’ve never heard before and stories I’ve heard too many times in too many versions. I never assume the first version is the right one. I always expect that if I turn the dirt one more time, I’ll find a different perspective, something wiser or wittier. The old stories never fail me even when some family members do.<br><br>
	        “What do you want?<br><br>
	        “Why?”<br><br>
	        “Who asked you to do this?”<br><br>
          I asked me. And I’m glad I did. It sounds too simple to be true, but when you change the way you tell your story, everything changes.  </p><br><br>

        </div>




      </div>

    </div>


</div>
