<div id="memoirContainer" class="container-fluid">






  <div id="topbar">
    <nav class="navbar navbar-expand-lg" id="navBarTop">
      <h1 id="currentProject">Just Above Bone</h1>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div id="storyStamp">

          <h1>Jerrie Hurd's Stories</h1>
        </div> -->

        <div class="navbar-nav" id="menuBar">
          <table id="toplineNavTable">
            <tr>
              <td style="width: 15%;">
                <a class="nav-item nav-link" ng-click="$ctrl.navigateWelome()" style="cursor:pointer">Welcome</a>
              </td>
              <td style="width: 31%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateMemoir()" ng-mouseleave="$ctrl.hoverOffMemoir()" ng-click="$ctrl.navigateMemoir()">Current: <em>Just Above Bone</em></a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateAuthor()" ng-mouseleave="$ctrl.hoverOffAuthor()" ng-click="$ctrl.navigateAuthor()">Author Info</a>
              </td>
              <td style="width: 15%;">
                <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateContact()">Contact</a>
              </td>
              <td style="width: 24%;">
                <a class="nav-item nav-link" href="#" ng-mouseover="$ctrl.navigateFunStuff()" ng-mouseleave="$ctrl.hoverOffFunStuff()" ng-click="$ctrl.navigateFunStuff()">Fun Stuff</a>
              </td>
                <!-- <a class="nav-item nav-link" ng-click="$ctrl.navigateNovels()" href="#">Novels</a> -->

                <!-- <a class="nav-item nav-link" href="#" ng-click="$ctrl.navigateShortStories()">Short Stories</a> -->
                <!-- <a class="nav-item nav-link" href="#">Books</a> -->
            </tr>
          </table>

        </div>

      </div>

    </nav>
    <table id="navTable">
      <tr>
        <td style="width: 19%;"></td>
        <td style="width: 25%;">

          <div id="memoirDropdownDiv" ng-mouseover="$ctrl.memoirMenuActive()" ng-mouseleave="$ctrl.memoirMenueInactive()">

            <p ng-click="$ctrl.navigateToSurprise()">About the Memoir</p>
            <p ng-click="$ctrl.navigateToIntroduction()">Introduction</p>
            <p ng-click="$ctrl.navigateFirstChapter()">First Chapter</p>
            <p><span class="sr-only">Second Chapter</span></p>
          </div>
        </td>
        <td style="width: 30%;">
          <div id="authorDropdownDiv" ng-mouseover="$ctrl.authorMenuActive()" ng-mouseleave="$ctrl.authorMenueInactive()">

            <p ng-click="$ctrl.navigateShortBio()">Short Bio</p>
            <p ng-click="$ctrl.navigateLongBio()">Long Bio</p>
            <p ng-click="$ctrl.navigatePublishedBooks()">Published Books</p>
          </div>

        </td>
        <td style="width: 26%;">
          <div id="funStuffDropdownDiv" ng-mouseover="$ctrl.funStuffMenuActive()" ng-mouseleave="$ctrl.funStuffMenuInactive()">

            <p ng-click="$ctrl.navigateFunInfo()">Fun Info</p>
            <p ng-click="$ctrl.navigateFutureProjects()">Future Projects</p>
            <p ng-click="$ctrl.navigatePhotoSite()">Photo Website</p>
            <p ng-click="$ctrl.navigateShortStory()">Short Stories</p>
          </div>

        </td>



      </tr>

    </table>
  </div>
    <div class="row" id="theRow">

      <div id="memoirContent" class="col-8">
        <!-- <img id="landingPic" src="./img/website.jpg"> -->

        <!-- <a id="aboveBoneNav" href="#"><h3><em></em></h3></a> -->

        <img src="./img/webchapter2.jpg">
        <!-- <a href="#" id="otherNon"><h3><em>Other Non-fiction</em></h3></a> -->
        <br><br><br><br><br><br><br><br>
        <div id="currentBlurb">
          <h3><b>Chapter 2</b></h3>
          <p class="currentBlurbParagraph">Synopsis:<br>
            Still wrestling with the idea of a central story, I check with friends to see if other families also have touchstone stories. Most do. I include a couple of examples. I also include the story of a friend who lost both parents under mysterious circumstances. Because of the controversy surrounding those deaths, she struggles as she tries to explain the defining event of her life. Evidently it isn’t enough to have a central story. Families must also decide how to tell their defining story. In time, that solidifies into one right way to tell “our story”—another problem.</p><br><br><br><br><br><br><br><br>
          <h3><b>Touchstone Stories</b></h3>
          <p class="currentBlurbParagraph">&nbsp;&nbsp;&nbsp;Genealogy focuses on a timeline—births, marriages, and deaths. Stories are a theme. No one doubts that families exist on a timeline. The idea that families also have a theme—a central story—can come as a surprise. <br><br>
          Buzzy Jackson, author of Shaking The Family Tree, thinks about it for a moment. Then she readily agrees. Hers, she tells me, is the grandfather who “took us out of the south and brought us into the modern world.” In a few stolen moments before her son’s school lets out, she explains that besides thinking “Jackson” was such a common name, she wondered if she could actually trace her father’s family; she has always been curious about why her grandfather made that move from Alabama to Michigan. She also notes that she has a Russian-Jewish side of the family with a different story centered on how and why they came to America—immigration being a more common theme for most Americans, she suggests. I think she’s right. My mother’s family tells love stories, but my father’s family tells a more typical immigration story.<br><br><br>

          I had no trouble identifying my train-stopping grandmother as the touchstone story central to my mother’s family. It is the story we repeat most often within the family and the first story usually told to outsiders. And Jackson, who has written about family histories, named hers with ease. Ok, but was that usual? Were people generally aware of their touchstone stories? I began asking. For a while I was obnoxious, asking anyone and everyone who would listen long enough to consider my question. Most responded with a degree of puzzlement. Clearly this was not a question that came up often. Some didn’t want to be bothered. Others had to think before responding.<br><br><br>

          Maria Krenz was born in Budapest, Hungary, during a 1944 bombing raid. She came six weeks early and was lucky at that. A couple of weeks later, Jews were not allowed to use any hospital. If she had been born closer to term, her mother would have had no medical help. However, her lucky birth was not an auspicious beginning. A preemie, whose mother’s milk had dried up, she was burden on her family when food, for any of them, was hard to obtain—milk especially. It got worse. She was still a baby when her family needed to keep her quiet while they hid in a walled-up room in the back of an aunt’s apartment.<br><br>
          When an older daughter, from her father’s previous marriage, asked if she and her baby could hide with them, Krenz’s father turned them away. The risk of keeping two infants quiet was just too great. Fortunately, the older daughter and her child survived, but turning her away, like that, haunted Krenz’s father. Here’s the part that testifies to the power of story, especially a touchstone story. Krenz doesn’t actually remember those events. She was too young, a baby. But she heard her mother talk of those times so often and with such detail, she told me it felt like a memory—more real than events she actually remembers.<br><br>
          She was a young child when the Soviets arrived in Hungary and the whole nightmare replayed. Stalin began to deport anyone he and/or his Hungarian henchmen considered an elite—that included the college educated, the former owners of businesses and men who were military officers before WWII. Krenz’s parents fit more than one of those criteria. Deportation orders arrived on Mondays, Wednesdays and Fridays. Her mother lived in fear of a knock on their door that, fortunately for them, never came. However, waiting every other day like that, constantly expecting the worst, triggered the mother’s memories. She told and retold stories of hiding in that small room with a baby that had to be kept quiet and no milk. Krenz thinks that’s why those stories are the first ones she remembers when she thinks about her history.<br><br>
          Sometimes to calm her mother, Krenz would ask her to tell stories of the “good days,” before the Holocaust, when her mother’s family were high-placed financiers who lived in a fine house with lots of servants. In the “good days” Krenz’s mother had studied at Oxford and regularly attended mass at the local cathedral having converted years before the war. Krenz says that stories of the “good days” were like fairytales—little diversions. “Good days” stories were never as powerful as stories of the days the family spent hiding—events that left her mother broken and barely able carry-on in more than a perfunctory manner. After Krenz’s father died, her mother taught English and worked for the State Translation Bureau to earn a living but never managed to pay the bills. At age nine, Krenz took over the family budget, cooking the family meals and making most of the decisions.<br><br>
          Maria Krenz has written her story in a memoir entitled Made in Hungary. The focus of that book is on Krenz’s early years and the stories her mother told over and over and over. Today she lives around the corner from me in Boulder, Colorado, and is active in the local Quaker congregation. She likes the Quakers, she told me, because they don’t force you to accept any particular catechism, but she studies Jewish culture and history, partly out of interest, but also because she fears her mother might be right: “they” will never let you be anything but Jewish. That’s how deeply her mother’s story is buried in her life.<br><br><br>

          Bonnie Gangelhoff woke up March 24, 2015 feeling that time had taken a cruel, surreal twist. From her clock radio, she was hearing that Germanwings flight 9525 had gone into a steep dive and crashed into the French Alps.  On March 24, 1968, the plane Gangelhoff’s parents were on went into a steep dive and crashed in the Irish Sea. That morning, as she was waking up, no one was sure what had happened to the Germanwings flight. They would later decide that a suicidal co-pilot deliberately put that plane into a dive. However, no one has ever satisfactorily explained what happened to Aer Lingus 712, the plane Gangelhoff’s parents were on in 1968.<br><br>
          Here are the known facts. Aer Lingus flight 712 was traveling from Cork, Ireland to London’s Heathrow airport on a clear, sunny day. The last message from that flight’s co-pilot is garbled but seems to indicate another aircraft in the area. It definitely says they are “descending, spinning rapidly.” There was no black box on the aircraft. The fuselage was never raised from the bottom of the Irish Sea. Most of the bodies, including Gangelhoff’s parents, were never found.<br><br>
          One theory is that a rogue missile fired from a missile-testing site near Aberporth, Wales, hit the plane. That is officially denied. It was a Sunday. Supposedly there were no tests on Sundays, but independent investigators claim to have found inconsistencies in the logbooks. Second theory is that a special radar transponder on the aircraft failed causing a British warship, conducting tests in the area, to mistake the craft and shoot it down—also officially denied. There have been two investigations. The one in 1970 reached a vague conclusion that leaves open the possibility of another aircraft, perhaps a drone used for target practice, being in the area. The second conducted in 1998-2000 unambiguously blames mechanical failure, but those results are not widely accepted by surviving family members and disputed by all subsequent independent investigations.<br><br>
          Gangelhoff was in her last year of college when this happened. In 1968, young people, her age, were protesting the Viet Nam war, questioning authority. She became one of them, protesting the war on the streets of Washington, D.C. To this day Gangelhoff remains highly skeptical of all authorities and all official reports. “Trust but verify,” she told me repeatedly. She believes the facts related to the crash of Aer Lingus Flight 712 can neither be trusted nor verified.<br><br>
          When she shares that history with me, she also confides that she wants to write a book. She asks if I think her story would be better as nonfiction or fiction? She is leaning towards fiction because she wants to focus on the uncertainly that Aer Lingus Flight 712 inserted into her life without getting tangled in disputed facts.<br><br>
          I agree. The real story is her story. Facts are data. Story is how we make sense of facts. Something happens; it changes our life; sends us in a new direction. Trying to make sense of the senseless, we rehearse the events until we arrive at some kind of satisfactory explanation—an important process. In some cultures, an event hasn’t truly happened until the elders decide how to tell the story. These cultures recognize that how history is remembered determines the future, if not the survival, of the people. I suspect many families do the same thing, telling and retelling their central story until it embodies the values and skills they hope will help their future generations.<br><br>
          Most of us don’t choose our touchstone story. More like we learn to live with it. Krenz wonders what if? What if she had been born in a different time or place? Gangelhoff describes her life as “front-loaded,” meaning at a young age, when most of us think we’re invincible she had to deal with the fact that nothing is certain.<br><br>
          My family’s stories are not as raw as those of a Holocaust survivor. And, unlike Gangelhoff, I don’t have to wrestle with the details, trying to make sense of my central narrative. Long ago, my family decided how to tell our story—epic-style with emphasis on the grandmother who stopped the trains. That means it would be easy—too easy—for me to sit back, relax and go with the flow. Why not? We’ve been telling our history the same way for generations. And it’s a nice story—a fun story. What’s more, it’s about a woman-hero. There are few enough of those. I should be all set.<br><br>
          Ah, yes, but narrative is never neutral. Every story comes with a set of values and a point of view. If I don’t pay attention, my family and their touchstone story could roll over me like one of those trains my grandmother supposedly stopped. Do I want that? Are the values in that story my values? Have I thought about my own history long enough to even know whether or not I have an opposing view? Do I know who I am without that story?<br><br>
          Not easy questions. Time to stop annoying friends about their families and start getting serious about my own. Nobody is going to figure this out for me. I know, I know, I tell myself, but where do I start?
</p><br><br>

        </div>




      </div>

    </div>


</div>
